In [1]:
from pyspark.ml.feature import RegexTokenizer, StopWordsRemover, Word2Vec

In [1]:
import os
import sys
import traceback
import logging
from pyspark.sql import SparkSession
from pyspark.sql.functions import  explode,col, expr,when,to_date, sum, from_json,size,length, lit, to_timestamp,current_timestamp, max
from pyspark.sql.types import  ArrayType,StructType, StructField, BooleanType, StringType, IntegerType, DateType, FloatType,DoubleType, LongType
from pyspark.sql.functions import (
    col, from_json, explode, to_date, date_format,
    dayofweek, dayofmonth, dayofyear, weekofyear,
    month, quarter, year, when, unix_timestamp
)
from delta.tables import DeltaTable
from pyspark.sql import functions as F

from datetime import datetime, timedelta

In [2]:

spark = SparkSession.builder \
    .appName("MinIO with Delta Lake") \
    .config("spark.jars", "jars/hadoop-aws-3.3.4.jar,jars/spark-sql-kafka-0-10_2.12-3.2.1.jar,jars/aws-java-sdk-bundle-1.12.262.jar,jars/delta-core_2.12-2.2.0.jar,jars/delta-storage-2.2.0.jar")\
    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
    .config("spark.hadoop.fs.s3a.access.key", "conbo123") \
    .config("spark.hadoop.fs.s3a.secret.key", "123conbo") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.delta.logStore.class", "org.apache.spark.sql.delta.storage.S3SingleDriverLogStore") \
    .config("delta.enable-non-concurrent-writes", "true") \
    .config('spark.sql.warehouse.dir', "s3a://lakehouse/") \
    .getOrCreate()

In [3]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/Bronze_Crews_API")

In [4]:
df.count()

520

In [42]:
df_processed = df.filter(df.processed == 1)

In [43]:
df_processed.count()

417

In [44]:
df.count()

420

# BS

In [1]:
import os
import sys
import traceback
import logging
from pyspark.sql import SparkSession
from pyspark.sql.functions import  explode,col, expr,when,to_date, sum, from_json,size,length
from pyspark.sql.types import  ArrayType,StructType, StructField, BooleanType, StringType, IntegerType, DateType, FloatType,DoubleType, LongType
from delta.tables import DeltaTable
from pyspark.sql import functions as F
import datetime
spark = SparkSession.builder \
    .appName("MinIO with Delta Lake") \
    .config("spark.jars", "jars/hadoop-aws-3.3.4.jar,jars/spark-sql-kafka-0-10_2.12-3.2.1.jar,jars/aws-java-sdk-bundle-1.12.262.jar,jars/delta-core_2.12-2.2.0.jar,jars/delta-storage-2.2.0.jar")\
    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
    .config("spark.hadoop.fs.s3a.access.key", "conbo123") \
    .config("spark.hadoop.fs.s3a.secret.key", "123conbo") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.delta.logStore.class", "org.apache.spark.sql.delta.storage.S3SingleDriverLogStore") \
    .config("delta.enable-non-concurrent-writes", "true") \
    .config('spark.sql.warehouse.dir', "s3a://lakehouse/") \
    .getOrCreate()

# df = spark.read.format("delta").load("s3a://lakehouse/silver/movies")
# df = df.withColumn("parsed_date", F.to_date(F.col("release_date"), "yyyy-MM-dd"))

# result = df.select(
#     F.col("release_date"),
#     F.dayofweek("parsed_date").alias("DayOfWeek"),
#     F.date_format("parsed_date", "EEEE").alias("DayName"),
#     F.dayofmonth("parsed_date").alias("DayOfMonth"),
#     F.dayofyear("parsed_date").alias("DayOfYear"),
#     F.weekofyear("parsed_date").alias("WeekOfYear"),
#     F.date_format("parsed_date", "MMMM").alias("MonthName"),
#     F.month("parsed_date").alias("MonthOfYear"),
#     F.quarter("parsed_date").alias("Quarter"),
#     F.year("parsed_date").alias("Year"),
#     F.when((F.dayofweek("parsed_date") >= 2) & (F.dayofweek("parsed_date") <= 6), True).otherwise(False).alias("IsWeekDay")
# )
# result = result.withColumn(
#     "date_id",
#     (F.col("Year") * 10000 + F.col("MonthOfYear") * 100 + F.col("DayOfMonth"))
# )

# try:
#     dimdate = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_date")
#     dimdate.alias("target").merge(
#         result.alias("source"),
#         "target.date_id = source.date_id"
#     ).whenNotMatchedInsertAll().execute()
# except:
#     result.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/gold/dim_date")

start_date = datetime.date(1800, 1, 1)
end_date = datetime.date(2200, 1, 1)

# 2. Tính số ngày giữa 2 ngày
days_diff = (end_date - start_date).days

# 3. Tạo DataFrame gồm các ngày liên tiếp, dùng sequence số nguyên đại diện cho ngày kể từ start_date
df_dates = spark.range(0, days_diff + 1).select(
    (F.expr(f"date_add(to_date('{start_date}'), id)")).alias("date")
)

# 4. Trích xuất các trường tương tự như trước
df_dim_date = df_dates.select(
    F.col("date").alias("full_date"),
    F.dayofweek("date").alias("DayOfWeek"),
    F.date_format("date", "EEEE").alias("DayName"),
    F.dayofmonth("date").alias("DayOfMonth"),
    F.dayofyear("date").alias("DayOfYear"),
    F.weekofyear("date").alias("WeekOfYear"),
    F.date_format("date", "MMMM").alias("MonthName"),
    F.month("date").alias("MonthOfYear"),
    F.quarter("date").alias("Quarter"),
    F.year("date").alias("Year"),
    F.when((F.dayofweek("date") >= 2) & (F.dayofweek("date") <= 6), True).otherwise(False).alias("IsWeekDay")
).withColumn(
    "date_id",
    F.col("Year") * 10000 + F.col("MonthOfYear") * 100 + F.col("DayOfMonth")
)
df_dim_date = df_dim_date.dropDuplicates(["date_id"])
# 5. Ghi dữ liệu vào Delta Lake bảng dim_date
try:
    dimdate = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_date")
    dimdate.alias("target").merge(
        df_dim_date.alias("source"),
        "target.date_id = source.date_id"
    ).whenNotMatchedInsertAll().execute()
except:
    df_dim_date.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/gold/dim_date")

Warning: Ignoring non-Spark config property: delta.enable-non-concurrent-writes
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

25/05/24 20:12:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/05/24 20:12:10 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/05/24 20:12:10 WARN SparkSession: Cannot use io.delta.sql.DeltaSparkSessionExtension to configure session extensions.
java.lang.ClassNotFoundException: io.delta.sql.DeltaSparkSessionExtension
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:592)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:525)
	at java.base/java.lang.Class.forName0(Native Method)
	at java.base/java.lang.Class.forName(Class.java:467)
	at org.apache.spark.util.Utils$.classForName(Utils.scala:218)
	at org.apache.spark.sql.SparkSession$.$anonfun$applyExtensions$1(SparkSession.scala:1221)
	at org.apache.spark.sql.SparkSession$.$anonfun$applyExtensions$1$adapted(SparkSession.scala:1219)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.sql.SparkSession$.org$apache$spark$sql$SparkSession$$applyExtensions(SparkSession.scala:1219)
	at org.apache.spark.sql.SparkSession.<init>(SparkSession.scala:106)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:500)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:481)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)
25/05/24 20:12:11 WARN SharedState: Cannot qualify the warehouse path, leaving it unqualified.
java.lang.RuntimeException: java.lang.ClassNotFoundException: Class org.apache.hadoop.fs.s3a.S3AFileSystem not found
	at org.apache.hadoop.conf.Configuration.getClass(Configuration.java:2688)
	at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:3431)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:3466)
	at org.apache.hadoop.fs.FileSystem.access$300(FileSystem.java:174)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:3574)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:3521)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:540)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:365)
	at org.apache.spark.sql.internal.SharedState$.qualifyWarehousePath(SharedState.scala:282)
	at org.apache.spark.sql.internal.SharedState.liftedTree1$1(SharedState.scala:80)
	at org.apache.spark.sql.internal.SharedState.<init>(SharedState.scala:79)
	at org.apache.spark.sql.SparkSession.$anonfun$sharedState$1(SparkSession.scala:143)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.SparkSession.sharedState$lzycompute(SparkSession.scala:143)
	at org.apache.spark.sql.SparkSession.sharedState(SparkSession.scala:142)
	at org.apache.spark.sql.SparkSession.$anonfun$sessionState$2(SparkSession.scala:162)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.SparkSession.sessionState$lzycompute(SparkSession.scala:160)
	at org.apache.spark.sql.SparkSession.sessionState(SparkSession.scala:157)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:212)
	at org.apache.spark.sql.SparkSession.range(SparkSession.scala:554)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)
Caused by: java.lang.ClassNotFoundException: Class org.apache.hadoop.fs.s3a.S3AFileSystem not found
	at org.apache.hadoop.conf.Configuration.getClassByName(Configuration.java:2592)
	at org.apache.hadoop.conf.Configuration.getClass(Configuration.java:2686)
	... 32 more

AnalysisException: cannot resolve 'date_add(to_date('1800-01-01'), id)' due to data type mismatch: argument 2 requires (int or smallint or tinyint) type, however, 'id' is of bigint type.; line 1 pos 0;
'Project [date_add(to_date(1800-01-01, None, Some(Etc/UTC)), id#0L) AS date#2]
+- Range (0, 146098, step=1, splits=Some(8))

In [29]:
df = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_API_1")
df = df.select(
    col("id").cast("integer"),
    col("budget").cast("integer"),
    col("popularity").cast("double").alias("popularity"),
    col("revenue").cast("double").alias("revenue"),
    col("vote_average").cast("double").alias("vote_average"),
    col("vote_count").cast("double").alias("vote_count"),
    date_format(col("release_date"), "yyyyMMdd").cast("integer").alias("date_id"),
    col("title"),                                                # Giữ nguyên kiểu string
    col("original_title"),                                       # Giữ nguyên kiểu string
    col("original_language").alias("language"),                  # Đổi tên trường: original_language -> language
    col("overview"),                                             # Giữ nguyên kiểu string
    col("runtime").cast("double").alias("runtime"),              # Ép về double
    col("tagline"),                                              # Giữ nguyên kiểu string
    col("status"),                                               # Giữ nguyên kiểu string
    col("homepage"),
    col("genres"),
    col("release_date"),
    col("read_time")
)


try:
    readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")
except:
    spark.sql("""
CREATE TABLE IF NOT EXISTS delta.`s3a://your-bucket/processing_state` (
    task_id STRING,
    last_read_time TIMESTAMP
) USING DELTA
""")
    spark.sql("""
    INSERT INTO delta.`s3a://lakehouse/ReadTime`
    VALUES ('BatchApi_Process', '1970-01-01 00:00:00')
    """)
    readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")

result = readTime.filter(f"task_id = 'BatchApi_Process'").select("last_read_time").collect()
last_read_time = result[0][0]

# last_read_time = Variable.get("last_read_time", default_var="1970-01-01T00:00:00")
# last_read_time_ts = to_timestamp(lit(last_read_time), "yyyy-MM-dd HH:mm:ss")

# df = df.filter(
#                                 (col("budget") != 0) &            # loại bỏ dòng có budget là "0" (kiểu string)
#                                 (col("id") != 0) &           # loại bỏ dòng có id là null
#                                 (col("revenue") != 0) &             # loại bỏ dòng có revenue bằng 0
#                                 (col("vote_average") != 0) &        # loại bỏ dòng có vote_average bằng 0
#                                 (col("vote_count") != 0) &          # loại bỏ dòng có vote_count bằng 0
#                                 (col("popularity") != 0) &        # loại bỏ dòng có popularity là "0" (kiểu string)
#                                 (col("date_id") != 0) & # loại bỏ dòng có release_date là null
#                                 (col("runtime") != 0) &               # loại bỏ dòng có runtime bằng 0
#                                 (col("read_time") > last_read_time_ts)
#                             )
# df = df.filter(
#                                 (col("read_time") >= last_read_time_ts)
#                             )
df = df.filter(f"read_time > '{last_read_time}'")
# last_read_time = Variable.get("last_read_time", default_var="1970-01-01T00:00:00")

# # Chuyển đổi thành kiểu timestamp nếu cần
# filtered_df = df.filter(col("read_time") > lit(last_read_time).cast("timestamp"))

try:
    tb = DeltaTable.forPath(spark, "s3a://lakehouse/silver/Silver_API_1")
    tb.alias("target").merge(
        df.alias("source"),
        "target.id = source.id"
    ).whenNotMatchedInsertAll().execute()
except:
    df.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver/Silver_API_1")

# SG

In [27]:
df = spark.read.format("delta").load("s3a://lakehouse/silver/Silver_API_1")
# last_read_time = Variable.get("last_read_time_SG", default_var="1970-01-01T00:00:00")
# last_read_time_ts = to_timestamp(lit(last_read_time), "yyyy-MM-dd HH:mm:ss")
try:
    readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")
except:
    spark.sql("""
CREATE TABLE IF NOT EXISTS delta.`s3a://your-bucket/processing_state` (
    task_id STRING,
    last_read_time TIMESTAMP
) USING DELTA
""")
    spark.sql("""
    INSERT INTO delta.`s3a://lakehouse/ReadTime`
    VALUES ('BatchApi_Process', '1970-01-01 00:00:00')
    """)
    readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")

result = readTime.filter(f"task_id = 'BatchApi_Process'").select("last_read_time").collect()
last_read_time = result[0][0]

df = df.filter(f"read_time > '{last_read_time}'")
# --------------------------------------------------
# FACT TABLE: fact_movie
# --------------------------------------------------
fact_movie_df = df.select(
    col("id"),
    col("budget"),
    col("popularity"),
    col("revenue"),
    col("vote_average"),
    col("vote_count"),
    col("date_id")
).dropDuplicates(["id"])

try:

    fact_movie = DeltaTable.forPath(spark, "s3a://lakehouse/gold/fact_movies")

    fact_movie.alias("target").merge(
        fact_movie_df.alias("source"),
        "target.id = source.id"
    ).whenNotMatchedInsertAll().execute()
except :
    fact_movie_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/gold/fact_movies")




# --------------------------------------------------
# DIMENSION TABLE: dim_movie
# Lưu ý: Đổi tên các cột để khớp với schema của Delta table hiện có:
# Schema mong đợi: id, title, original_title, language, overview, runtime, tagline, status, homepage
# --------------------------------------------------
dimmovie_df = df.select(
    col("id"),                        # Ép sang long
    col("title"),                                                # Giữ nguyên kiểu string
    col("original_title"),                                       # Giữ nguyên kiểu string
    col("language"),                  # Đổi tên trường: original_language -> language
    col("overview"),                                             # Giữ nguyên kiểu string
    col("runtime"),              # Ép về double
    col("tagline"),                                              # Giữ nguyên kiểu string
    col("status"),                                               # Giữ nguyên kiểu string
    col("homepage")                                              # Giữ nguyên kiểu string
).dropDuplicates(["id"])


try:
    dimmovie = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_movie")
    dimmovie.alias("target").merge(
        dimmovie_df.alias("source"),
        "target.id = source.id"
    ).whenNotMatchedInsertAll().execute()
except:
    dimmovie_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/gold/dim_movie")

# --------------------------------------------------
# DIMENSION TABLE: dim_date
# --------------------------------------------------
dimdate_df = df.withColumn("release_date", to_date(col("release_date"), "yyyy-MM-dd")) \
    .select(
        date_format(col("release_date"), "yyyy-MM-dd").alias("release_date"),
        dayofweek(col("release_date")).alias("DayOfWeek"),
        date_format(col("release_date"), "EEEE").alias("DayName"),
        dayofmonth(col("release_date")).alias("DayOfMonth"),
        dayofyear(col("release_date")).alias("DayOfYear"),
        weekofyear(col("release_date")).alias("WeekOfYear"),
        date_format(col("release_date"), "MMMM").alias("MonthName"),
        month(col("release_date")).alias("MonthOfYear"),
        quarter(col("release_date")).alias("Quarter"),
        year(col("release_date")).alias("Year"),
        when(dayofweek(col("release_date")).between(2, 6), True).otherwise(False).alias("IsWeekDay"),
        col("date_id")
    ).dropDuplicates(["date_id"])

try:
    dimdate = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_date")
    dimdate.alias("target").merge(
        dimdate_df.alias("source"),
        "target.date_id = source.date_id"
    ).whenNotMatchedInsertAll().execute()
except:
    dimdate_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/gold/dim_date")


# --------------------------------------------------
# DIMENSION TABLE: dim_genre
# --------------------------------------------------
dim_genre_df = df.select(
    explode(col("genres")).alias("genre")
).select(
    col("genre.id").cast("integer").alias("id"),
    col("genre.name").alias("name")
).dropDuplicates(["id"])

try:
    dim_genre = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_genre")
    dim_genre.alias("target").merge(
        dim_genre_df.alias("source"),
        "target.id = source.id"
    ).whenNotMatchedInsertAll().execute()
except:
    dim_genre_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/gold/dim_genre")


# --------------------------------------------------
# BRIDGE TABLE: movie_genres
# --------------------------------------------------
movie_genre_df = df.select(
    col("id").alias("movie_id"),
    explode(col("genres")).alias("genre")
).select(
    col("genre.id").cast("integer").alias("genres_id"),
    col("movie_id").alias("id")
)

try:
    movie_genre = DeltaTable.forPath(spark, "s3a://lakehouse/gold/movie_genre")
    movie_genre.alias("target").merge(
        movie_genre_df.alias("source"),
        "target.id = source.id AND target.genres_id = source.genres_id"
    ).whenNotMatchedInsertAll().execute()
except:
    movie_genre_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/gold/movie_genres")
    
max_read_time_row = df.agg(max("read_time")).collect()
max_read_time = max_read_time_row[0]["max(read_time)"] if max_read_time_row else None


readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")
    
    # Cập nhật hoặc chèn bản ghi mới
updated_df = readTime.filter(f"task_id != 'BatchApi_Process'").union(
    spark.createDataFrame([("BatchApi_Process", max_read_time)], ["task_id", "last_read_time"])
)

# Ghi đè Delta Table
updated_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/ReadTime")

In [18]:
df.count()

412

In [3]:
df = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_Movies_API")

In [ ]:
df.show()

In [4]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- original_title: string (nullable = true)
 |-- title: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- runtime: double (nullable = true)
 |-- tagline: string (nullable = true)
 |-- status: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- budget: integer (nullable = true)
 |-- popularity: double (nullable = true)
 |-- revenue: integer (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: integer (nullable = true)
 |-- release_date: date (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: integer (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- read_time: timestamp (nullable = true)

In [5]:
df = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_API_1")
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- original_title: string (nullable = true)
 |-- title: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- runtime: double (nullable = true)
 |-- tagline: string (nullable = true)
 |-- status: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- budget: integer (nullable = true)
 |-- popularity: double (nullable = true)
 |-- revenue: integer (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: integer (nullable = true)
 |-- release_date: date (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: integer (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- read_time: timestamp (nullable = true)

In [6]:
readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")
result = readTime.filter(f"task_id = 'BatchApi_Process'").select("last_read_time").collect()
last_read_time = result[0][0]
print(last_read_time)

2025-02-23 14:01:39.153000

In [16]:
df.select("read_time").collect()

[Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 45, 127000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 2, 63000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 29, 120000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 32, 966000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 16, 369000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 17, 641000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 55, 317000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 0, 555000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 27, 376000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 25, 633000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 12, 228000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 12, 228000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 12, 228000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 12, 228000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 51, 440000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 15, 281000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 15, 281000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 15, 281000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 13, 303000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 13, 303000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 13, 303000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 35, 523000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 35, 523000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 35, 523000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 35, 523000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 37, 793000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 37, 793000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 37, 793000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 38, 230000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 56, 537000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 56, 537000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 49, 593000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 3, 343000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 29, 41, 926000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 24, 417000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 55, 371000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 55, 371000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 55, 371000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 55, 371000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 3, 526000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 3, 526000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 3, 526000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 3, 526000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 23, 619000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 23, 619000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 23, 619000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 23, 619000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 36, 155000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 13, 665000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 13, 665000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 13, 665000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 13, 665000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 38, 348000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 38, 348000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 38, 348000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 38, 348000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 0, 266000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 41, 436000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 4, 178000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 4, 178000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 4, 178000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 4, 178000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 44, 742000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 44, 742000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 44, 742000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 8, 70000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 8, 70000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 8, 70000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 8, 70000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 26, 344000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 15, 15, 385000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 40, 981000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 51, 708000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 51, 708000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 32, 495000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 32, 495000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 32, 495000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 15, 994000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 36, 282000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 36, 282000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 39, 605000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 10, 250000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 10, 250000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 26, 527000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 26, 527000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 26, 527000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 29, 0, 721000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 58, 609000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 58, 609000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 58, 609000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 51, 23, 982000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 51, 23, 982000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 51, 23, 982000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 25, 590000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 25, 590000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 25, 590000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 25, 590000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 54, 805000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 54, 859000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 54, 859000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 20, 498000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 20, 498000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 20, 498000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 20, 498000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 44, 536000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 44, 536000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 44, 536000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 10, 537000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 46, 248000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 46, 248000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 46, 248000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 46, 248000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 7, 354000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 55, 427000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 55, 427000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 55, 427000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 55, 427000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 14, 144000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 22, 147000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 22, 147000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 22, 147000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 22, 147000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 39, 202000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 27, 782000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 27, 782000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 27, 782000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 27, 782000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 13, 705000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 13, 705000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 13, 705000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 17, 82000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 16, 675000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 16, 675000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 16, 675000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 16, 675000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 15, 17, 700000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 15, 17, 700000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 15, 17, 700000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 15, 17, 700000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 29, 31, 631000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 15, 134000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 15, 134000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 15, 134000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 40, 975000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 40, 975000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 40, 975000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 40, 975000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 24, 560000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 3, 861000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 1, 617000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 1, 617000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 47, 519000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 47, 519000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 5, 881000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 5, 881000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 12, 661000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 12, 661000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 12, 661000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 5, 194000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 5, 194000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 15, 659000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 15, 659000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 15, 659000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 15, 659000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 47, 19000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 47, 19000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 47, 19000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 53, 191000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 53, 191000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 53, 191000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 53, 191000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 56, 0, 921000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 56, 0, 921000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 56, 0, 921000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 30, 715000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 59, 678000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 59, 678000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 59, 678000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 8, 711000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 8, 711000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 5, 405000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 5, 405000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 23, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 23, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 23, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 48, 154000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 48, 154000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 48, 154000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 48, 154000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 55, 657000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 55, 657000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 55, 657000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 53, 157000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 53, 157000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 47, 929000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 49, 882000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 58, 299000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 26, 204000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 49, 309000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 49, 309000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 49, 309000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 30, 774000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 30, 774000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 20, 886000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 58, 927000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 19, 64000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 22, 687000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 22, 687000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 5, 639000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 51, 57, 78000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 51, 57, 78000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 13, 670000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 34, 171000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 6, 643000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 6, 643000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 6, 643000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 56, 806000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 56, 806000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 56, 806000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 41, 394000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 41, 394000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 46, 483000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 46, 483000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 46, 483000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 20, 57000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 20, 57000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 20, 57000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 20, 57000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 37, 970000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 37, 970000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 28, 992000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 26, 162000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 26, 162000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 26, 162000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 41, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 41, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 41, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 41, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 29, 418000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 29, 418000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 29, 418000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 4, 479000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 4, 479000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 4, 479000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 53, 61000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 12, 417000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 12, 417000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 18, 437000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 18, 437000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 55, 404000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 34, 814000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 34, 814000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 43, 250000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 24, 150000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 24, 150000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 24, 150000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 32, 478000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 17, 588000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 17, 588000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 46, 756000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 57, 821000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 57, 821000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 57, 821000)),

In [7]:
df = spark.read.format("delta").load("s3a://lakehouse/gold/movie_genre")
df.printSchema()

root
 |-- genres_id: integer (nullable = true)
 |-- id: integer (nullable = true)

In [31]:
import boto3
import pandas as pd
def connect_minio():
    try:
        s3_client = boto3.client(
            "s3",
            aws_access_key_id="conbo123",
            aws_secret_access_key="123conbo",
            endpoint_url='http://minio:9000' 
        )
        return s3_client
    except Exception as e:
        logging.error(f"Error connecting to MinIO: {str(e)}")
        raise e

def get_data_from_raw(name):
    try:
        client = connect_minio()
        response = client.get_object(Bucket="lakehouse", Key=f'raw/{name}.csv')
        df = pd.read_csv(response.get("Body"), low_memory=False)
        return df
    except Exception as e:
        logging.error(f"Error getting data from MinIO: {str(e)}")
        raise e

# Hàm ghi dữ liệu vào MinIO
def save_data_to_bronze(df, name):
    try:
        client = connect_minio()
        # Sử dụng BytesIO để lưu trữ dữ liệu dưới dạng Parquet
        parquet_buffer = BytesIO()
        df.to_parquet(parquet_buffer, index=False)
        parquet_buffer.seek(0)  # Reset buffer position
        client.put_object(Bucket="lakehouse", Key=f'bronze/{name}.parquet', Body=parquet_buffer.getvalue())
        logging.info(f"Data saved to bronze/{name}.parquet successfully.")
    except Exception as e:
        logging.error(f"Error saving data to MinIO: {str(e)}")
        raise e

In [ ]:
df = get_data_from_raw('ratings')
save_data_to_bronze(df, 'ratings')

In [3]:
df = spark.read.format("csv").load("s3a://lakehouse/raw/ratings.csv")

In [4]:
df.write.format("parquet").save("s3a://lakehouse/bronze/ratings.parquet")

# DIM MOVIE
### ["movie_id", "title", "original_title", "language", "overview","runtime", "tagline", "status", "homepage"]

In [20]:
df_silver_movies = spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")

In [21]:
df_silver_movies.printSchema()

root
 |-- adult: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: double (nullable = true)
 |-- runtime: double (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: boolean (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: double (nullable = true)

In [4]:
df_silver_movies = df_silver_movies.dropna(subset=["title", "release_date", "budget"])
df_silver_movies = df_silver_movies.dropDuplicates()

NameError: name 'df_silver_movies' is not defined

In [21]:
df_silver_movies = df_silver_movies.withColumn("id", col("id").cast(LongType()))

df_dim_movie = df_silver_movies.select(
    "id",  
    "title", "original_title", col("spoken_languages").alias("language"), "overview", 
    "runtime", "tagline", "status", "homepage"
)
df_dim_movie.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_movie")

# DIM KEYWORD

In [14]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/keywords.parquet")
df = df.filter((col("keywords").isNotNull()) & (col("keywords") != "[]"))
df.filter(col("id") == 13685).show(truncate=False)

+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id   |keywords                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|13685|[{'id': 380, 'name': 'brother brother relationship'}, {'id': 642, 'name': 'robbery'}, {'id': 1437, 'name': 'burglar'}, {'id': 2568, 'name': 'language barrier'}, {'id': 2669, 'name': 'motel'}, {'id': 10183, 'name': 'independent film'}, {'id': 10323, 'name': 'psychiatric hospital'}, {'id': 13097, 'name': 'maid'}, {'id': 14604, 'name': 'theft'}, {'id': 15274, 'name': 'nervous breakdown'}, {'id': 187710, 'name': 'escapade'}, {'id': 187717, 'name': 'laundry room'}]|
+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [3]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/keywords.parquet")
keyword_schema = ArrayType(
    StructType([
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True)
    ])
)
df_parsed = df.withColumn("keywords", from_json(col("keywords"), keyword_schema))

# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("keywords", explode(col("keywords")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("keywords.name"),
    col("keywords.id")
)
df_selected.dropDuplicates(["id"])
# Hiển thị kết quả
df_selected.show(truncate=False)

+------------------------+------+
|name                    |id    |
+------------------------+------+
|jealousy                |931   |
|toy                     |4290  |
|boy                     |5202  |
|friendship              |6054  |
|friends                 |9713  |
|rivalry                 |9823  |
|boy next door           |165503|
|new toy                 |170722|
|toy comes to life       |187065|
|board game              |10090 |
|disappearance           |10941 |
|based on children's book|15101 |
|new home                |33467 |
|recluse                 |158086|
|giant insect            |158091|
|fishing                 |1495  |
|best friend             |12392 |
|duringcreditsstinger    |179431|
|old men                 |208510|
|based on novel          |818   |
+------------------------+------+
only showing top 20 rows

In [4]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_keyword")

# DIM CAST
### cast_id, name, gender, profile_path

In [4]:
df_dim_cast = spark.read.format("parquet").load("s3a://lakehouse/bronze/credits.parquet")
df_dim_cast.printSchema()

root
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- id: long (nullable = true)

In [6]:
cast_schema = ArrayType(
    StructType([
        StructField("cast_id", IntegerType(), True),
        StructField("character", StringType(), True),
        StructField("credit_id", StringType(), True),
        StructField("gender", IntegerType(), True),
        StructField("id", LongType(), True),
        StructField("name", StringType(), True),
        StructField("order", IntegerType(), True),
        StructField("profile_path", StringType(), True)
    ])
)
df_parsed = df_dim_cast.withColumn("cast", from_json(col("cast"), cast_schema))

# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("cast", explode(col("cast")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("cast.name"),
    col("cast.gender"),
    col("cast.profile_path"),
    col("cast.credit_id"),
    col("cast.id")
)

# Hiển thị kết quả
df_selected.show(truncate=False)

+------------------+------+--------------------------------+------------------------+-------+
|name              |gender|profile_path                    |credit_id               |id     |
+------------------+------+--------------------------------+------------------------+-------+
|Walter Matthau    |2     |/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg|52fe466a9251416c75077a8d|6837   |
|Jack Lemmon       |2     |/chZmNRYMtqkiDlatprGDH4BzGqG.jpg|52fe466a9251416c75077a91|3151   |
|Ann-Margret       |1     |/jx5lTaJ5VXZHYB52gaOTAZ9STZk.jpg|52fe466a9251416c75077a95|13567  |
|Sophia Loren      |1     |/emKLhbji1c7BjcA2DdbWf0EP9zH.jpg|52fe466a9251416c75077a99|16757  |
|Daryl Hannah      |1     |/4LLmp6AQdlj6ueGCRbVRSGvvFSt.jpg|52fe466a9251416c75077a9d|589    |
|Burgess Meredith  |2     |/lm98oKloU33Q7QDIIMSyc4Pr2jA.jpg|53e5fcc2c3a3684430000d65|16523  |
|Kevin Pollak      |2     |/kwu2T8CDnThZTzE88uiSgJ5eHXf.jpg|53e5fcd4c3a3684433000e1a|7166   |
|Whitney Houston   |1     |/69ouDnXnmklYPr4sMJXWKYz81AL.jpg|52fe44779251416c91011aad|8851   |
|Angela Bassett    |1     |/tHkgSzhEuJKp5hqp0DZLad8HNZ9.jpg|52fe44779251416c91011ab1|9780   |
|Loretta Devine    |1     |/zLQFwQTFtHkb8sbFdkPNamFI7jv.jpg|52fe44779251416c91011ab5|18284  |
|Lela Rochon       |1     |/9DBu3r5O4fBosSS4FnSzFCVpm0O.jpg|52fe44779251416c91011ab9|51359  |
|Gregory Hines     |2     |/rvvQWFQGeGR14WFVNe0Qg1J7uVY.jpg|52fe44779251416c91011abd|66804  |
|Dennis Haysbert   |2     |/mn5Nc5Q31GslpVVWs8p41W4TBma.jpg|52fe44779251416c91011ac1|352    |
|Michael Beach     |2     |/lOlWhURNKyZHn71dvq7qC7fiwN6.jpg|52fe44779251416c91011ac5|87118  |
|Mykelti Williamson|2     |/8TTxzpuvvpw2tB8xZBCDslYupNU.jpg|52fe44779251416c91011acf|34     |
|Lamont Johnson    |2     |/wfZzRPJBdsx62GbkUimc1PShxyC.jpg|56d1b15fc3a3681e4a008b6b|1276777|
|Wesley Snipes     |2     |/hQ6EBa6vgu7HoZpzms8Y10VL5Iw.jpg|56f8a929c3a36816e80084f3|10814  |
|Steve Martin      |2     |/rI2EMvkfKKPKa5z0nM2pFVBtUyO.jpg|52fe44959251416c75039eb9|67773  |
|Diane Keaton      |1     |/fzgUMnbOkxC6E3EFcYHWHFaiKyp.jpg|52fe44959251416c75039ebd|3092   |
|Martin Short      |2     |/oZQorXBjTxrdkTJFpoDwOcQ91ji.jpg|52fe44959251416c75039ec1|519    |
+------------------+------+--------------------------------+------------------------+-------+
only showing top 20 rows

In [7]:
df_dim_cast  = df_selected.dropDuplicates(["id"]).filter(col("id").isNotNull())

In [8]:
df_dim_cast.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_cast")

# DIM CREW
### id, name,  department, job, gender, credit_ID

In [15]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/credits.parquet") 
df_filtered = df.filter((col("cast") != "[]") & (col("crew") != "[]"))
df_filtered.show()

+--------------------+--------------------+-----+
|                cast|                crew|   id|
+--------------------+--------------------+-----+
|[{'cast_id': 14, ...|[{'credit_id': '5...|  862|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 8844|
|[{'cast_id': 2, '...|[{'credit_id': '5...|15602|
|[{'cast_id': 1, '...|[{'credit_id': '5...|31357|
|[{'cast_id': 1, '...|[{'credit_id': '5...|11862|
|[{'cast_id': 25, ...|[{'credit_id': '5...|  949|
|[{'cast_id': 1, '...|[{'credit_id': '5...|11860|
|[{'cast_id': 2, '...|[{'credit_id': '5...|45325|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 9091|
|[{'cast_id': 1, '...|[{'credit_id': '5...|  710|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 9087|
|[{'cast_id': 9, '...|[{'credit_id': '5...|12110|
|[{'cast_id': 1, '...|[{'credit_id': '5...|21032|
|[{'cast_id': 1, '...|[{'credit_id': '5...|10858|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 1408|
|[{'cast_id': 4, '...|[{'credit_id': '5...|  524|
|[{'cast_id': 6, '...|[{'credit_id': '5...| 4584|
|[{'cast_id': 42, ...|[{'credit_id': '5...|    5|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 9273|
|[{'cast_id': 1, '...|[{'credit_id': '5...|11517|
+--------------------+--------------------+-----+
only showing top 20 rows

In [19]:
df.filter(col("id") == 42981).show(truncate=False)

+----+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|cast|crew                                                                                                                                                                 |id   |
+----+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|[]  |[{'credit_id': '52fe4624c3a36847f80ef0a5', 'department': 'Directing', 'gender': 2, 'id': 129216, 'job': 'Director', 'name': 'Theodore Thomas', 'profile_path': None}]|42981|
+----+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+

In [15]:
df_dim_crew = spark.read.format("parquet").load("s3a://lakehouse/bronze/credits.parquet")

In [16]:
crew_schema = ArrayType(
    StructType([
        StructField("credit_id", StringType(), True),
        StructField("department", StringType(), True),
        StructField("gender", IntegerType(), True),
        StructField("id", LongType(), True),
        StructField("job", StringType(), True),
        StructField("name", StringType(), True),
        StructField("profile_path", StringType(), True)
    ])
)
df_parsed = df_dim_crew.withColumn("crew", from_json(col("crew"), crew_schema))
# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("crew", explode(col("crew")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("crew.name"),
    col("crew.gender"),
    col("crew.profile_path"),
    col("crew.credit_id"),
    col("crew.id"),
    col("crew.job"),
    col("crew.department")
)
df_selected = df_selected.dropDuplicates(["id"]).filter(col("id").isNotNull())
# Hiển thị kết quả
df_selected.show(truncate=False)

+--------------------+------+--------------------------------+------------------------+---+-----------------------+----------+
|name                |gender|profile_path                    |credit_id               |id |job                    |department|
+--------------------+------+--------------------------------+------------------------+---+-----------------------+----------+
|Mark Hamill         |2     |/ws544EgE5POxGJqq9LUfhnDrHtV.jpg|52fe44dcc3a368484e03b025|2  |Director               |Directing |
|Carrie Fisher       |1     |/pbleNurCYdrLFQMEnlQB2nkOR1O.jpg|52fe4440c3a368484e01852d|4  |Novel                  |Writing   |
|Albert Brooks       |2     |/kahlMTdygrPJ28VYRhKPavYD9hs.jpg|52fe44e1c3a368484e03c4dd|13 |Director               |Directing |
|Ellen DeGeneres     |1     |/4LG2bFkqOzxzR1kpnoDcwIVuQTG.jpg|52fe44fdc3a368484e0426ed|14 |Writer                 |Writing   |
|Barry Humphries     |2     |/ccJHmzU8wzOe4sAmeVeScu5mygl.jpg|52fe4480c3a368484e026db9|22 |Writer                 |Writing   |
|Robert Zemeckis     |2     |/isCuZ9PWIOyXzdf3ihodXzjIumL.jpg|52fe48cdc3a36847f817a4b5|24 |Director               |Directing |
|Eric Roth           |2     |/e73ADDpR3vT1Bwa0Q0oRp5RQWTb.jpg|52fe4a82c3a36847f81d2107|27 |Writer                 |Writing   |
|Tom Hanks           |2     |/pQFoyx7rp09CJTAb932F2g8Nlho.jpg|55e4f0abc3a368140800047e|31 |Producer               |Production|
|Orson Welles        |2     |/2DF3e98c7GGa1uJJvpgIiMPg0h2.jpg|52fe4672c3a36847f80ff931|40 |Director               |Directing |
|Lars von Trier      |2     |/AlfUoJTJlns0XeJROH7Zqt9SvYr.jpg|52fe45839251416c91034ed7|42 |Director               |Directing |
|John Fawcett        |2     |/ArR5IXmo5yqjH4I6kcO9W5u9rDC.jpg|54177f100e0a2637ef0002e0|43 |Director               |Directing |
|Luc Besson          |2     |/dXJdczT1NcvcZtnoWVGT0NmG11v.jpg|52fe47c49251416c750a4b0d|59 |Director               |Directing |
|Chris Tucker        |2     |/9RQvgEi1GnPK4QzqOGHL3jP3VZr.jpg|559e873f9251412dbe001721|66 |Writer                 |Writing   |
|Erich Pommer        |2     |/oClAs4W1TRc2jtYCU4CdtXlEhPZ.jpg|52fe48e99251416c750b73d1|67 |Producer               |Production|
|Fritz Lang          |2     |/fQAlhdBDnUYXzkezvyzjLB72pvw.jpg|52fe48e99251416c750b73c5|68 |Director               |Directing |
|Karl Freund         |2     |/rp4KICz1DHmkYRlzkrqKWwWZm9U.jpg|56d683f6c3a3682cef007d34|70 |Director of Photography|Camera    |
|Bruce Brown         |2     |/t2yDx3OLqFNzCjIOWIjEHbzrRcb.jpg|52fe448dc3a368484e029383|86 |Director               |Directing |
|Roger Deakins       |2     |/osGe7eLKNIErFLn1RHJDeYTYOmb.jpg|52fe44a49251416c7503be3f|151|Director of Photography|Camera    |
|Sally Menke         |1     |/8cUdiGU7KhBgd8UNnoUYNCMZYgQ.jpg|584ef939c3a3682a8a00139e|156|Editor                 |Editing   |
|Michael Winterbottom|2     |/hnzUhUXiWy7ThflTzPTRb869mnB.jpg|52fe4796c3a36847f813dc97|172|Director               |Directing |
+--------------------+------+--------------------------------+------------------------+---+-----------------------+----------+
only showing top 20 rows

In [17]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_crew")

# DIM DATE

In [6]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")
df = df.dropna(subset=["title", "release_date", "budget"])
df = df.dropDuplicates()
df = df.withColumn("parsed_date", F.to_date(F.col("release_date"), "yyyy-MM-dd"))

result = df.select(
    F.col("release_date"),
    F.dayofweek("parsed_date").alias("DayOfWeek"),
    F.date_format("parsed_date", "EEEE").alias("DayName"),
    F.dayofmonth("parsed_date").alias("DayOfMonth"),
    F.dayofyear("parsed_date").alias("DayOfYear"),
    F.weekofyear("parsed_date").alias("WeekOfYear"),
    F.date_format("parsed_date", "MMMM").alias("MonthName"),
    F.month("parsed_date").alias("MonthOfYear"),
    F.quarter("parsed_date").alias("Quarter"),
    F.year("parsed_date").alias("Year"),
    F.when((F.dayofweek("parsed_date") >= 2) & (F.dayofweek("parsed_date") <= 6), True).otherwise(False).alias("IsWeekDay")
)
result = result.withColumn(
    "DATE_ID",
    (F.col("Year") * 10000 + F.col("MonthOfYear") * 100 + F.col("DayOfMonth")).cast("long")
)

result.show()

+------------+---------+---------+----------+---------+----------+---------+-----------+-------+----+---------+--------+
|release_date|DayOfWeek|  DayName|DayOfMonth|DayOfYear|WeekOfYear|MonthName|MonthOfYear|Quarter|Year|IsWeekDay| DATE_ID|
+------------+---------+---------+----------+---------+----------+---------+-----------+-------+----+---------+--------+
|  1996-10-25|        6|   Friday|        25|      299|        43|  October|         10|      4|1996|     true|19961025|
|  1988-08-28|        1|   Sunday|        28|      241|        34|   August|          8|      3|1988|    false|19880828|
|  1988-05-11|        4|Wednesday|        11|      132|        19|      May|          5|      2|1988|     true|19880511|
|  1984-02-16|        5| Thursday|        16|       47|         7| February|          2|      1|1984|     true|19840216|
|  1986-05-01|        5| Thursday|         1|      121|        18|      May|          5|      2|1986|     true|19860501|
|  1995-01-01|        1|   Sunday|         1|        1|        52|  January|          1|      1|1995|    false|19950101|
|  1975-09-02|        3|  Tuesday|         2|      245|        36|September|          9|      3|1975|     true|19750902|
|  1985-09-25|        4|Wednesday|        25|      268|        39|September|          9|      3|1985|     true|19850925|
|  1989-11-17|        6|   Friday|        17|      321|        46| November|         11|      4|1989|     true|19891117|
|  1992-08-28|        6|   Friday|        28|      241|        35|   August|          8|      3|1992|     true|19920828|
|  1959-09-29|        3|  Tuesday|        29|      272|        40|September|          9|      3|1959|     true|19590929|
|  1999-10-15|        6|   Friday|        15|      288|        41|  October|         10|      4|1999|     true|19991015|
|  1985-01-25|        6|   Friday|        25|       25|         4|  January|          1|      1|1985|     true|19850125|
|  1992-06-04|        5| Thursday|         4|      156|        23|     June|          6|      2|1992|     true|19920604|
|  1947-09-25|        5| Thursday|        25|      268|        39|September|          9|      3|1947|     true|19470925|
|  1991-06-20|        5| Thursday|        20|      171|        25|     June|          6|      2|1991|     true|19910620|
|  1979-08-03|        6|   Friday|         3|      215|        31|   August|          8|      3|1979|     true|19790803|
|  1958-12-25|        5| Thursday|        25|      359|        52| December|         12|      4|1958|     true|19581225|
|  2000-06-15|        5| Thursday|        15|      167|        24|     June|          6|      2|2000|     true|20000615|
|  1986-04-18|        6|   Friday|        18|      108|        16|    April|          4|      2|1986|     true|19860418|
+------------+---------+---------+----------+---------+----------+---------+-----------+-------+----+---------+--------+
only showing top 20 rows

In [8]:
result.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_date")

# DIM GENRES
### genre_id, name

In [8]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")

In [13]:
genres_schema = ArrayType(
    StructType([
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True)
    ])
)
df_parsed = df.withColumn("genres", from_json(col("genres"), genres_schema))
df_exploded = df_parsed.withColumn("genres", explode(col("genres")))

df_selected = df_exploded.select(
    col("genres.id"),
    col("genres.name")
)
df_selected = df_selected.dropDuplicates(subset=["id"])

AnalysisException: Cannot resolve column name "id" among (CAST(genres.id AS INT), name)

In [13]:
df_selected.show()

+-----+--------------------+
|   id|                name|
+-----+--------------------+
|   12|           Adventure|
|   14|             Fantasy|
|   16|           Animation|
|   18|               Drama|
|   27|              Horror|
|   28|              Action|
|   35|              Comedy|
|   36|             History|
|   37|             Western|
|   53|            Thriller|
|   80|               Crime|
|   99|         Documentary|
|  878|     Science Fiction|
| 2883|             Aniplex|
| 7759|             GoHands|
| 7760|           BROSTA TV|
| 7761|Mardock Scramble ...|
| 9648|             Mystery|
|10402|               Music|
|10749|             Romance|
+-----+--------------------+
only showing top 20 rows

In [14]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_genres")

# complete DIM

In [9]:
df_dimmovie = spark.read.format("delta").load("s3a://lakehouse/silver_T/dim_movie")
df_dimmovie.printSchema()

root
 |-- id: long (nullable = true)
 |-- title: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- language: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- runtime: double (nullable = true)
 |-- tagline: string (nullable = true)
 |-- status: string (nullable = true)
 |-- homepage: string (nullable = true)

In [10]:
df_cast = spark.read.format("delta").load("s3a://lakehouse/silver_T/dim_cast")
df_cast.printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- profile_path: string (nullable = true)
 |-- credit_id: string (nullable = true)
 |-- id: long (nullable = true)

In [11]:
df_crew = spark.read.format("delta").load("s3a://lakehouse/silver_T/dim_crew")
df_crew.printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- profile_path: string (nullable = true)
 |-- credit_id: string (nullable = true)
 |-- id: long (nullable = true)
 |-- job: string (nullable = true)
 |-- department: string (nullable = true)

In [12]:
df_genres = spark.read.format("delta").load("s3a://lakehouse/silver_T/dim_genres")
df_genres.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [13]:
df_date = spark.read.format("delta").load("s3a://lakehouse/silver_T/dim_date")
df_date.printSchema()

root
 |-- release_date: string (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DayName: string (nullable = true)
 |-- DayOfMonth: integer (nullable = true)
 |-- DayOfYear: integer (nullable = true)
 |-- WeekOfYear: integer (nullable = true)
 |-- MonthName: string (nullable = true)
 |-- MonthOfYear: integer (nullable = true)
 |-- Quarter: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- IsWeekDay: boolean (nullable = true)
 |-- DATE_ID: long (nullable = true)

# Cast_Movie

In [18]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/credits.parquet")
cast_schema = ArrayType(
    StructType([
        StructField("cast_id", IntegerType(), True),
        StructField("character", StringType(), True),
        StructField("credit_id", StringType(), True),
        StructField("gender", IntegerType(), True),
        StructField("id", LongType(), True),
        StructField("name", StringType(), True),
        StructField("order", IntegerType(), True),
        StructField("profile_path", StringType(), True)
    ])
)
df_parsed = df.withColumn("cast", from_json(col("cast"), cast_schema))

# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("cast", explode(col("cast")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("cast.id").alias("cast_id"),
    col("cast.character"),
    col("id").alias("movie_id")
)

# Hiển thị kết quả
df_selected.show(truncate=False)

+-------+----------------------------+--------+
|cast_id|character                   |movie_id|
+-------+----------------------------+--------+
|6837   |Max Goldman                 |15602   |
|3151   |John Gustafson              |15602   |
|13567  |Ariel Gustafson             |15602   |
|16757  |Maria Sophia Coletta Ragetti|15602   |
|589    |Melanie Gustafson           |15602   |
|16523  |Grandpa Gustafson           |15602   |
|7166   |Jacob Goldman               |15602   |
|8851   |Savannah 'Vannah' Jackson   |31357   |
|9780   |Bernadine 'Bernie' Harris   |31357   |
|18284  |Gloria 'Glo' Matthews       |31357   |
|51359  |Robin Stokes                |31357   |
|66804  |Marvin King                 |31357   |
|352    |Kenneth Dawkins             |31357   |
|87118  |John Harris, Sr.            |31357   |
|34     |Troy                        |31357   |
|1276777|Joseph                      |31357   |
|10814  |James Wheeler               |31357   |
|67773  |George Banks                |11862   |
|3092   |Nina Banks                  |11862   |
|519    |Franck Eggelhoffer          |11862   |
+-------+----------------------------+--------+
only showing top 20 rows

In [19]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/movie_cast")

# movie_crew

In [20]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/credits.parquet")
df.printSchema()
crew_schema = ArrayType(
    StructType([
        StructField("department", StringType(), True),
        StructField("gender", IntegerType(), True),
        StructField("id", LongType(), True),
        StructField("job", StringType(), True),
        StructField("name", StringType(), True),
        StructField("profile_path", StringType(), True)
    ])
)
df_parsed = df.withColumn("crew", from_json(col("crew"), crew_schema))
# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("crew", explode(col("crew")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("crew.id").alias("crew_id"),
    col("crew.job"),
    col("crew.department"),
    col("id").alias("movie_id")
)

df_selected.show(truncate=False)

root
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- id: long (nullable = true)

+-------+------------+----------+--------+
|crew_id|job         |department|movie_id|
+-------+------------+----------+--------+
|6210   |Writer      |Writing   |16420   |
|56710  |Director    |Directing |16420   |
|56710  |Adaptation  |Writing   |16420   |
|33315  |Director    |Directing |31174   |
|6210   |Theatre Play|Writing   |31174   |
|1327   |Writer      |Writing   |31174   |
|33315  |Writer      |Writing   |31174   |
|16862  |Director    |Directing |48750   |
|37127  |Writer      |Writing   |48750   |
|16862  |Writer      |Writing   |48750   |
|119294 |Writer      |Writing   |46785   |
|120229 |Director    |Directing |46785   |
|117075 |Director    |Directing |188588  |
|14692  |Director    |Directing |47475   |
|114997 |Director    |Directing |55475   |
|114997 |Writer      |Writing   |55475   |
|5281   |Director    |Directing |20649   |
|5281   |Screenplay  |Writing   |20649   |
|2989   |Screenplay  |Writing   |20649   |
|2163   |Screenplay  |Writing   |52856   |
+-------+------------+----------+--------+
only showing top 20 rows

In [21]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/movie_crew")

# movie genres

In [14]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")
genres_schema = ArrayType(
    StructType([
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True)
    ])
)
df_parsed = df.withColumn("genres", from_json(col("genres"), genres_schema))
df_exploded = df_parsed.withColumn("genres", explode(col("genres")))

df_selected = df_exploded.select(
    col("genres.id").alias("genres_id"),
    col("id").cast("Integer")
)

In [15]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/movie_genres")

# Movie Keyword

In [5]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/keywords.parquet")
keyword_schema = ArrayType(
    StructType([
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True)
    ])
)
df_parsed = df.withColumn("keywords", from_json(col("keywords"), keyword_schema))

# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("keywords", explode(col("keywords")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("keywords.name"),
    col("keywords.id").alias("keyword_id"),
    col("id")
                             
)

# Hiển thị kết quả
df_selected.show(truncate=False)

+------------------------+----------+-----+
|name                    |keyword_id|id   |
+------------------------+----------+-----+
|jealousy                |931       |862  |
|toy                     |4290      |862  |
|boy                     |5202      |862  |
|friendship              |6054      |862  |
|friends                 |9713      |862  |
|rivalry                 |9823      |862  |
|boy next door           |165503    |862  |
|new toy                 |170722    |862  |
|toy comes to life       |187065    |862  |
|board game              |10090     |8844 |
|disappearance           |10941     |8844 |
|based on children's book|15101     |8844 |
|new home                |33467     |8844 |
|recluse                 |158086    |8844 |
|giant insect            |158091    |8844 |
|fishing                 |1495      |15602|
|best friend             |12392     |15602|
|duringcreditsstinger    |179431    |15602|
|old men                 |208510    |15602|
|based on novel          |818       |31357|
+------------------------+----------+-----+
only showing top 20 rows

In [6]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/movie_keyword")

# Fact Movie

In [28]:
df= spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")
df = df.withColumn("popularity", col("popularity").cast("double"))
df.printSchema()

root
 |-- adult: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: double (nullable = true)
 |-- runtime: double (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: boolean (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: double (nullable = true)

In [7]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")
df_fact = df.withColumn(
    "date_id",
    (F.year("release_date") * 10000 + F.month("release_date") * 100 + F.dayofmonth("release_date")).cast("long")
)

df_fact = df_fact.select(
    col("id").cast("Integer"),
    col("budget"),
    col("popularity"),
    col("revenue"),
    col("vote_average"),
    col("vote_count"),
    col("date_id")
)
df_fact.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/fact_movies")

In [36]:
df = spark.read.format("delta").load("s3a://lakehouse/silver_T/fact_movies")
df.show()

+-----+--------+----------+------------+------------+----------+--------+
|   id|  budget|popularity|     revenue|vote_average|vote_count| date_id|
+-----+--------+----------+------------+------------+----------+--------+
|  862|30000000| 21.946943|3.73554033E8|         7.7|    5415.0|19951030|
| 8844|65000000| 17.015539|2.62797249E8|         6.9|    2413.0|19951215|
|15602|       0|   11.7129|         0.0|         6.5|      92.0|19951222|
|31357|16000000|  3.859495| 8.1452156E7|         6.1|      34.0|19951222|
|11862|       0|  8.387519| 7.6578911E7|         5.7|     173.0|19950210|
|  949|60000000| 17.924927|1.87436818E8|         7.7|    1886.0|19951215|
|11860|58000000|  6.677277|         0.0|         6.2|     141.0|19951215|
|45325|       0|  2.561161|         0.0|         5.4|      45.0|19951222|
| 9091|35000000|   5.23158| 6.4350171E7|         5.5|     174.0|19951222|
|  710|58000000| 14.686036|3.52194034E8|         6.6|    1194.0|19951116|
| 9087|62000000|  6.318445|1.07879496E8|         6.5|     199.0|19951117|
|12110|       0|  5.430331|         0.0|         5.7|     210.0|19951222|
|21032|       0| 12.140733| 1.1348324E7|         7.1|     423.0|19951222|
|10858|44000000|     5.092| 1.3681765E7|         7.1|      72.0|19951222|
| 1408|98000000|  7.284477| 1.0017322E7|         5.7|     137.0|19951222|
|  524|52000000| 10.137389|1.16112375E8|         7.8|    1343.0|19951122|
| 4584|16500000| 10.673167|      1.35E8|         7.2|     364.0|19951213|
|    5| 4000000|  9.026586|   4300000.0|         6.5|     539.0|19951209|
| 9273|30000000|  8.205448|2.12385533E8|         6.1|    1128.0|19951110|
|11517|60000000|  7.337906| 3.5431113E7|         5.4|     224.0|19951121|
+-----+--------+----------+------------+------------+----------+--------+
only showing top 20 rows

                    dim_genres
                          |
             movie_genre_bridge
                          |
dim_movie -------------- fact_movie_revenue -------------- dim_date
                         /        \
        movie_cast_bridge      movie_crew_bridge
                |                     |
          dim_cast                   dim_crew