In [1]:
import os
import sys
import json
import logging
import traceback
from datetime import datetime, timedelta

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import (
    col, from_json, explode, to_date, date_format,
    dayofweek, dayofmonth, dayofyear, weekofyear,
    month, quarter, year, when, unix_timestamp,
    expr, sum, size, length, lit, to_timestamp, current_timestamp, max, udf
)
from pyspark.sql.types import (
    ArrayType, StructType, StructField, BooleanType,
    StringType, IntegerType, DateType, FloatType,
    DoubleType, LongType
)
from delta.tables import DeltaTable

In [2]:

spark = SparkSession.builder \
    .appName("TestJupyter") \
    .config("spark.jars", "jars/hadoop-aws-3.3.4.jar,jars/spark-sql-kafka-0-10_2.12-3.2.1.jar,jars/aws-java-sdk-bundle-1.12.262.jar,jars/delta-core_2.12-2.2.0.jar,jars/delta-storage-2.2.0.jar")\
    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
    .config("spark.hadoop.fs.s3a.access.key", "conbo123") \
    .config("spark.hadoop.fs.s3a.secret.key", "123conbo") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.delta.logStore.class", "org.apache.spark.sql.delta.storage.S3SingleDriverLogStore") \
    .config("delta.enable-non-concurrent-writes", "true") \
    .config('spark.sql.warehouse.dir', "s3a://lakehouse/") \
    .getOrCreate()

Warning: Ignoring non-Spark config property: delta.enable-non-concurrent-writes

25/06/08 13:48:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [8]:
gold_base_path = "s3a://lakehouse/gold/"

tables = [
    "fact_movies",
    "dim_movie",
    "dim_cast",
    "dim_crew",
    "dim_genre",
    "dim_date",
    "dim_keyword",
    "movie_cast",
    "movie_crew",
    "movie_genre",
    "movie_keyword"
]

for table in tables:
    df = spark.read.format("delta").load(f"{gold_base_path}{table}")
    count = df.count()
    print(f"{table}: {count} rows")

fact_movies: 45347 rows
dim_movie: 45347 rows
dim_cast: 205688 rows
dim_crew: 159659 rows
dim_genre: 32 rows
dim_date: 146098 rows
dim_keyword: 19956 rows
movie_cast: 560238 rows
movie_crew: 418831 rows
movie_genre: 90969 rows
movie_keyword: 156602 rows

In [9]:
gold_base_path = "s3a://lakehouse/gold/"

tables = [
    "fact_movies",
    "dim_movie",
    "dim_cast",
    "dim_crew",
    "dim_genre",
    "dim_date",
    "dim_keyword",
    "movie_cast",
    "movie_crew",
    "movie_genre",
    "movie_keyword"
]

for table in tables:
    df = spark.read.format("delta").load(f"{gold_base_path}{table}")
    count = df.count()
    print(f"{table}: {count} rows")

fact_movies: 45384 rows
dim_movie: 45384 rows
dim_cast: 206274 rows
dim_crew: 160512 rows

dim_genre: 32 rows
dim_date: 146098 rows
dim_keyword: 20010 rows
movie_cast: 561118 rows
movie_crew: 420358 rows
movie_genre: 91062 rows
movie_keyword: 156779 rows

In [6]:
Bronze_base_path = "s3a://lakehouse/bronze/"

tables = [
    "Bronze_Movies_API",
    "Bronze_Crews_API",
    "Bronze_Keywords_API"
]

for table in tables:
    df = spark.read.format("delta").load(f"{Bronze_base_path}{table}")
    count = df.count()
    print(f"{table}: {count} rows")

Bronze_Movies_API: 40 rows
Bronze_Crews_API: 40 rows

Bronze_Keywords_API: 40 rows

In [3]:
gold_base_path = "s3a://lakehouse/gold/"

tables = [
    "fact_movies",
    "dim_movie",
    "dim_cast",
    "dim_crew",
    "dim_genre",
    "dim_date",
    "dim_keyword",
    "movie_cast",
    "movie_crew",
    "movie_genre",
    "movie_keyword"
]

for table in tables:
    df = spark.read.format("delta").load(f"{gold_base_path}{table}")
    count = df.count()
    print(f"{table}: {count} rows")

25/05/25 11:42:15 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
25/05/25 11:42:21 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

fact_movies: 46490 rows
dim_movie: 46490 rows

dim_cast: 221257 rows
dim_crew: 194325 rows
dim_genre: 32 rows
dim_date: 146098 rows
dim_keyword: 21359 rows
movie_cast: 588545 rows

movie_crew: 551702 rows
movie_genre: 93085 rows
movie_keyword: 164894 rows

In [10]:
gold_base_path = "s3a://lakehouse/gold/"

tables = [
    "fact_movies",
    "dim_movie",
    "dim_cast",
    "dim_crew",
    "dim_genre",
    "dim_date",
    "dim_keyword",
    "movie_cast",
    "movie_crew",
    "movie_genre",
    "movie_keyword"
]

for table in tables:
    df = spark.read.format("delta").load(f"{gold_base_path}{table}")
    
    if table == "fact_movies":
        count = df.select("id").distinct().count()
        print(f"{table}: {count} distinct movie IDs")
    else:
        count = df.count()
        print(f"{table}: {count} rows")

fact_movies: 45384 distinct movie IDs
dim_movie: 45384 rows
dim_cast: 206274 rows
dim_crew: 160512 rows
dim_genre: 32 rows
dim_date: 146098 rows
dim_keyword: 20010 rows
movie_cast: 561118 rows
movie_crew: 420358 rows
movie_genre: 91062 rows
movie_keyword: 156779 rows

In [4]:
gold_base_path = "s3a://lakehouse/gold/"

tables = [
    "fact_movies",
    "dim_movie",
    "dim_cast",
    "dim_crew",
    "dim_genre",
    "dim_date",
    "dim_keyword",
    "movie_cast",
    "movie_crew",
    "movie_genre",
    "movie_keyword"
]

for table in tables:
    df = spark.read.format("delta").load(f"{gold_base_path}{table}")
    count = df.count()
    print(f"{table}: {count} rows")

fact_movies: 46289 rows

dim_movie: 46289 rows
dim_cast: 214598 rows

dim_crew: 181226 rows
dim_genre: 32 rows
dim_date: 45640 rows
dim_keyword: 20814 rows
movie_cast: 574835 rows
movie_crew: 500748 rows

movie_genre: 92477 rows
movie_keyword: 160507 rows
25/05/24 19:11:56 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 769948 ms exceeds timeout 120000 ms

In [40]:
df = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_Movies_API")

In [41]:
df.count()

5293

In [4]:
from pyspark.sql.functions import col

df = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_Movies_API")
df.select(col("read_time")).tail(40)

[Row(read_time=datetime.datetime(2025, 5, 25, 10, 5, 20, 666000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 38, 32, 73000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 38, 32, 73000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 38, 20, 422000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 38, 20, 422000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 38, 43, 197000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 38, 43, 197000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 38, 43, 197000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 38, 43, 197000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 38, 43, 197000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 14, 22, 51, 939000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 14, 22, 51, 939000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 7, 26, 209000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 7, 26, 209000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 7, 26, 209000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 7, 26, 209000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 7, 26, 209000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 40, 6, 510000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 40, 6, 510000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 40, 6, 510000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 41, 45, 380000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 14, 24, 16, 702000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 14, 24, 16, 702000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 42, 55, 597000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 14, 26, 41, 51000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 5, 5, 427000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 5, 5, 427000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 5, 5, 427000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 5, 5, 427000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 40, 25, 702000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 40, 25, 702000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 42, 51, 897000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 42, 51, 897000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 15, 42, 51, 897000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 7, 23, 740000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 7, 23, 740000)),
 Row(read_time=datetime.datetime(2025, 5, 25, 10, 7, 23, 740000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 14, 27, 8, 786000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 14, 27, 8, 786000)),
 Row(read_time=datetime.datetime(2025, 5, 24, 14, 27, 8, 786000))]

In [4]:
df_Crews = spark.read.format("delta").load("s3a://lakehouse/gold/dim_cast")

In [5]:
df_Crews.count()

205735

In [84]:
dim_cast_df = df_Crews.select(
    explode(col("cast")).alias("cast")
    ).select(
        col("cast.id").alias("id"),
        col("cast.name").alias("name"),
        col("cast.profile_path").alias("profile_path"),
        col("cast.gender").alias("gender")
)

In [87]:
dim_cast_df.groupBy("id").count().filter("count > 1").show()
dim_cast_df = dim_cast_df.dropDuplicates(["id"])

+---+-----+
| id|count|
+---+-----+
+---+-----+

In [ ]:
dim_cast_df.groupBy("id").count().filter("count > 1").show()

In [88]:
dim_cast = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_cast")
dim_cast.alias("target").merge(
    dim_cast_df.alias("source"),
    "target.id = source.id"
).whenMatchedUpdateAll().whenNotMatchedInsertAll().execute()

25/05/22 20:51:13 WARN HintErrorLogger: Hint (strategy=broadcast) is not supported in the query: build left for full outer join.
25/05/22 20:51:13 WARN HintErrorLogger: Hint (strategy=broadcast) is not supported in the query: build left for full outer join.
25/05/22 20:51:13 WARN HintErrorLogger: Hint (strategy=broadcast) is not supported in the query: build left for full outer join.
25/05/22 20:51:13 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [69]:
dim_cast_df = df_Crews.select(
    explode(col("cast")).alias("cast")
    ).select(
        col("cast.id").alias("id"),
        col("cast.name").alias("name"),
        col("cast.profile_path").alias("profile_path"),
        col("cast.gender").alias("gender")
)

try:
    dim_cast = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_cast")
    dim_cast.alias("target").merge(
        dim_cast_df.alias("source"),
        "target.id = source.id"
    ).whenMatchedUpdateAll().whenNotMatchedInsertAll().execute()
except:
    dim_cast_df.write.format("delta").save("s3a://lakehouse/gold/dim_cast")

AnalysisException: Cannot write to already existent path s3a://lakehouse/gold/dim_cast without setting OVERWRITE = 'true'.

In [75]:
dim_cast_df = df_Crews.select(
    explode(col("cast")).alias("cast")
    ).select(
        col("cast.id").alias("id"),
        col("cast.name").alias("name"),
        col("cast.profile_path").alias("profile_path"),
        col("cast.gender").alias("gender")
)
dim_cast_df.count()

46972

In [76]:
dim_cast_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- profile_path: string (nullable = true)
 |-- gender: integer (nullable = true)

In [79]:
df_Movies = spark.read.format("delta").load("s3a://lakehouse/gold/dim_cast")

In [80]:
df_Movies.count()

229376

In [74]:
df_Movies.printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- profile_path: string (nullable = true)
 |-- id: integer (nullable = true)

In [6]:
import os
import sys
import traceback
import logging
from pyspark.sql import SparkSession
from pyspark.sql.functions import  explode,col, expr,when,to_date, sum, from_json,size,length, lit, to_timestamp,current_timestamp, max
from pyspark.sql.types import  ArrayType,StructType, StructField, BooleanType, StringType, IntegerType, DateType, FloatType,DoubleType, LongType
from pyspark.sql.functions import (
    col, from_json, explode, to_date, date_format,
    dayofweek, dayofmonth, dayofyear, weekofyear,
    month, quarter, year, when, unix_timestamp
)
from delta.tables import DeltaTable
from pyspark.sql import functions as F

from datetime import datetime, timedelta

In [ ]:
df_Movies = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_Movies_API")
df_Movies = df_Movies.filter(f"read_time > '{last_read_time_movie}'")
df_Crews = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_Crews_API")
df_Crews = df_Crews.filter(f"read_time > '{last_read_time_crew}'")
df_Keywords = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_Keywords_API")
df_Keywords = df_Keywords.filter(f"read_time > '{last_read_time_keyword}'")

In [47]:
try:
    readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")
except:
    spark.sql("""
CREATE TABLE IF NOT EXISTS delta.`s3a://lakehouse/ReadTime` (
    task_id STRING,
    last_read_time TIMESTAMP
) USING DELTA
""")
    spark.sql("""
    INSERT INTO delta.`s3a://lakehouse/ReadTime`
    VALUES 
      ('BatchApi_Process_Movies', '1970-01-01 00:00:00'),
      ('BatchApi_Process_Crews', '1970-01-01 00:00:00'),
      ('BatchApi_Process_Keywords', '1970-01-01 00:00:00')
""")
    readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")

# result = readTime.filter(f"task_id = 'BatchApi_Process'").select("last_read_time").collect()
# last_read_time = result[0][0]
result_movie = readTime.filter(f"task_id = 'BatchApi_Process_Movies'").select("last_read_time").collect()
result_crew = readTime.filter(f"task_id = 'BatchApi_Process_Crews'").select("last_read_time").collect()
result_keyword = readTime.filter(f"task_id = 'BatchApi_Process_Keywords'").select("last_read_time").collect()

last_read_time_movie = result_movie[0][0]
last_read_time_crew = result_crew[0][0]
last_read_time_keyword = result_keyword[0][0]


df_Movies = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_Movies_API")
df_Movies = df_Movies.filter(f"read_time > '{last_read_time_movie}'")
df_Crews = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_Crews_API")
df_Crews = df_Crews.filter(f"read_time > '{last_read_time_crew}'")
df_Keywords = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_Keywords_API")
df_Keywords = df_Keywords.filter(f"read_time > '{last_read_time_keyword}'")

schema_movie = StructType([
    StructField("id", IntegerType(), True),
    StructField("title", StringType(), True),
    StructField("original_title", StringType(), True),
    StructField("original_language", StringType(), True),
    StructField("overview", StringType(), True),
    StructField("release_date", StringType(), True),
    StructField("runtime", DoubleType(), True),
    StructField("budget", IntegerType(), True),
    StructField("revenue", DoubleType(), True),
    StructField("popularity", DoubleType(), True),
    StructField("vote_average", DoubleType(), True),
    StructField("vote_count", DoubleType(), True),
    StructField("tagline", StringType(), True),
    StructField("status", StringType(), True),
    StructField("homepage", StringType(), True),
    StructField("genres", ArrayType(StructType([
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True)
    ])), True)
])
schema_crew = StructType([
    StructField("id", IntegerType(), True),
    StructField("cast", ArrayType(
        StructType([
            StructField("adult", BooleanType(), True),
            StructField("gender", IntegerType(), True),
            StructField("id", IntegerType(), True),
            StructField("known_for_department", StringType(), True),
            StructField("name", StringType(), True),
            StructField("original_name", StringType(), True),
            StructField("popularity", DoubleType(), True),
            StructField("profile_path", StringType(), True),
            StructField("cast_id", IntegerType(), True),
            StructField("character", StringType(), True),
            StructField("credit_id", StringType(), True),
            StructField("order", IntegerType(), True)
        ])
    ), True),
    StructField("crew", ArrayType(
        StructType([
            StructField("adult", BooleanType(), True),
            StructField("gender", IntegerType(), True),
            StructField("id", IntegerType(), True),
            StructField("known_for_department", StringType(), True),
            StructField("name", StringType(), True),
            StructField("original_name", StringType(), True),
            StructField("popularity", DoubleType(), True),
            StructField("profile_path", StringType(), True),
            StructField("credit_id", StringType(), True),
            StructField("department", StringType(), True),
            StructField("job", StringType(), True)
        ])
    ), True)
])
schema_keyword = StructType([
    StructField("id", IntegerType(), True),
    StructField("keywords", ArrayType(
        StructType([
            StructField("id", IntegerType(), True),
            StructField("name", StringType(), True)
        ])
    ), True)
])
df_Movies = df_Movies.withColumn("data", from_json(col("raw_json"), schema_movie)) \
                             .select("data.*", "read_time")

df_Movies = df_Movies.select(
    col("id").cast("integer"),
    col("budget").cast("integer"),
    col("popularity").cast("double").alias("popularity"),
    col("revenue").cast("double").alias("revenue"),
    col("vote_average").cast("double").alias("vote_average"),
    col("vote_count").cast("double").alias("vote_count"),
    date_format(col("release_date"), "yyyyMMdd").cast("integer").alias("date_id"),
    col("title"),                                                # Giữ nguyên kiểu string
    col("original_title"),                                       # Giữ nguyên kiểu string
    col("original_language").alias("language"),                  # Đổi tên trường: original_language -> language
    col("overview"),                                             # Giữ nguyên kiểu string
    col("runtime").cast("double").alias("runtime"),              # Ép về double
    col("tagline"),                                              # Giữ nguyên kiểu string
    col("status"),                                               # Giữ nguyên kiểu string
    col("homepage"),
    col("genres"),
    col("release_date"),
    col("read_time")
)


df_Keywords = df_Keywords.withColumn("data", from_json(col("raw_json"), schema_keyword)) \
                             .select("data.*", "read_time")
df_Crews = df_Crews.withColumn("data", from_json(col("raw_json"), schema_crew)) \
                             .select("data.*", "read_time")

# last_read_time = Variable.get("last_read_time", default_var="1970-01-01T00:00:00")
# last_read_time_ts = to_timestamp(lit(last_read_time), "yyyy-MM-dd HH:mm:ss")


# df = df.filter(
#                                 (col("read_time") >= last_read_time_ts)
#                             )

# last_read_time = Variable.get("last_read_time", default_var="1970-01-01T00:00:00")

# # Chuyển đổi thành kiểu timestamp nếu cần
# filtered_df = df.filter(col("read_time") > lit(last_read_time).cast("timestamp"))



# df_Movies = df_Movies.filter(f"read_time > '{last_read_time}'")
# df_Crews = df_Crews.filter(f"read_time > '{last_read_time}'")
# df_Keywords = df_Keywords.filter(f"read_time > '{last_read_time}'")

try:
    tb_movie = DeltaTable.forPath(spark, "s3a://lakehouse/silver/Silver_Movies_API")
    tb_movie.alias("target").merge(
        df_Movies.alias("source"),
        "target.id = source.id"
    ).whenMatchedUpdateAll() .whenNotMatchedInsertAll().execute()
except:
    df_Movies.write.format("delta").save("s3a://lakehouse/silver/Silver_Movies_API")

try:
    tb_crew = DeltaTable.forPath(spark, "s3a://lakehouse/silver/Silver_Crews_API")
    tb_crew.alias("target").merge(
        df_Crews.alias("source"),
        "target.id = source.id"
    ).whenMatchedUpdateAll() .whenNotMatchedInsertAll().execute()
except:
    df_Crews.write.format("delta").save("s3a://lakehouse/silver/Silver_Crews_API")


try:
    tb_keyword = DeltaTable.forPath(spark, "s3a://lakehouse/silver/Silver_Keywords_API")
    tb_keyword.alias("target").merge(
        df_Keywords.alias("source"),
        "target.id = source.id"
    ).whenMatchedUpdateAll() .whenNotMatchedInsertAll().execute()
except:
    df_Keywords.write.format("delta").save("s3a://lakehouse/silver/Silver_Keywords_API")

25/05/22 20:35:13 WARN DeltaLog: Change in the table id detected while updating snapshot.
Previous snapshot = Snapshot(path=s3a://lakehouse/silver/Silver_Movies_API/_delta_log, version=1, metadata=Metadata(51dda7bb-d218-4077-b63b-1a70ad987856,null,null,Format(parquet,Map()),{"type":"struct","fields":[{"name":"id","type":"integer","nullable":true,"metadata":{}},{"name":"budget","type":"integer","nullable":true,"metadata":{}},{"name":"popularity","type":"double","nullable":true,"metadata":{}},{"name":"revenue","type":"double","nullable":true,"metadata":{}},{"name":"vote_average","type":"double","nullable":true,"metadata":{}},{"name":"vote_count","type":"double","nullable":true,"metadata":{}},{"name":"date_id","type":"integer","nullable":true,"metadata":{}},{"name":"title","type":"string","nullable":true,"metadata":{}},{"name":"original_title","type":"string","nullable":true,"metadata":{}},{"name":"language","type":"string","nullable":true,"metadata":{}},{"name":"overview","type":"string","nullable":true,"metadata":{}},{"name":"runtime","type":"double","nullable":true,"metadata":{}},{"name":"tagline","type":"string","nullable":true,"metadata":{}},{"name":"status","type":"string","nullable":true,"metadata":{}},{"name":"homepage","type":"string","nullable":true,"metadata":{}},{"name":"genres","type":{"type":"array","elementType":{"type":"struct","fields":[{"name":"id","type":"integer","nullable":true,"metadata":{}},{"name":"name","type":"string","nullable":true,"metadata":{}}]},"containsNull":true},"nullable":true,"metadata":{}},{"name":"release_date","type":"string","nullable":true,"metadata":{}},{"name":"read_time","type":"timestamp","nullable":true,"metadata":{}}]},List(),Map(),Some(1747944587341)), logSegment=LogSegment(s3a://lakehouse/silver/Silver_Movies_API/_delta_log,1,WrappedArray(S3AFileStatus{path=s3a://lakehouse/silver/Silver_Movies_API/_delta_log/00000000000000000000.json; isDirectory=false; length=6566; replication=1; blocksize=33554432; modification_time=1747944590019; access_time=0; owner=jovyan; group=jovyan; permission=rw-rw-rw-; isSymlink=false; hasAcl=false; isEncrypted=true; isErasureCoded=false} isEmptyDirectory=FALSE eTag=1308d00df5885c00a8f92ae4d1a6b8fc versionId=null, S3AFileStatus{path=s3a://lakehouse/silver/Silver_Movies_API/_delta_log/00000000000000000001.json; isDirectory=false; length=728; replication=1; blocksize=33554432; modification_time=1747944974911; access_time=0; owner=jovyan; group=jovyan; permission=rw-rw-rw-; isSymlink=false; hasAcl=false; isEncrypted=true; isErasureCoded=false} isEmptyDirectory=FALSE eTag=5e5095495ec8c888a76e8a357bdd2e47 versionId=null),List(),None,1747944974911), checksumOpt=None)
New snapshot = Snapshot(path=s3a://lakehouse/silver/Silver_Movies_API/_delta_log, version=0, metadata=Metadata(9026d646-64a9-4156-afc8-8135a17adab1,null,null,Format(parquet,Map()),{"type":"struct","fields":[{"name":"id","type":"integer","nullable":true,"metadata":{}},{"name":"budget","type":"integer","nullable":true,"metadata":{}},{"name":"popularity","type":"double","nullable":true,"metadata":{}},{"name":"revenue","type":"double","nullable":true,"metadata":{}},{"name":"vote_average","type":"double","nullable":true,"metadata":{}},{"name":"vote_count","type":"double","nullable":true,"metadata":{}},{"name":"date_id","type":"integer","nullable":true,"metadata":{}},{"name":"title","type":"string","nullable":true,"metadata":{}},{"name":"original_title","type":"string","nullable":true,"metadata":{}},{"name":"language","type":"string","nullable":true,"metadata":{}},{"name":"overview","type":"string","nullable":true,"metadata":{}},{"name":"runtime","type":"double","nullable":true,"metadata":{}},{"name":"tagline","type":"string","nullable":true,"metadata":{}},{"name":"status","type":"string","nullable":true,"metadata":{}},{"name":"homepage","type":"string","nullable":true,"metadata":{}},{"name":"genres","type":{"type":"array","elementType":{"type":"struct","fields":[{"name":"id","type":"integer","nullable":true,"metadata":{}},{"name":"name","type":"string","nullable":true,"metadata":{}}]},"containsNull":true},"nullable":true,"metadata":{}},{"name":"release_date","type":"string","nullable":true,"metadata":{}},{"name":"read_time","type":"timestamp","nullable":true,"metadata":{}}]},List(),Map(),Some(1747945920639)), logSegment=LogSegment(s3a://lakehouse/silver/Silver_Movies_API/_delta_log,0,WrappedArray(S3AFileStatus{path=s3a://lakehouse/silver/Silver_Movies_API/_delta_log/00000000000000000000.json; isDirectory=false; length=6566; replication=1; blocksize=33554432; modification_time=1747945923287; access_time=0; owner=jovyan; group=jovyan; permission=rw-rw-rw-; isSymlink=false; hasAcl=false; isEncrypted=true; isErasureCoded=false} isEmptyDirectory=FALSE eTag=2cc9dd33bb2290e68b323c7df31769b0 versionId=null),List(),None,1747945923287), checksumOpt=None).

In [20]:
df_Keywords.count()

1744

In [22]:
df_Keywords.head()

Row(id=985939, keywords=[Row(id=3298, name='hallucination'), Row(id=9743, name='stranded'), Row(id=33787, name='tower'), Row(id=197623, name='free climbing'), Row(id=209439, name='sport climbing'), Row(id=234505, name='adrenaline junkie'), Row(id=235677, name='dehydration'), Row(id=309974, name='absurd'), Row(id=316832, name='tense'), Row(id=336497, name='survival thriller')], read_time=datetime.datetime(2025, 5, 22, 19, 56, 11, 862000))

In [12]:
df_Movies.show()

+-------+---------+----------+-------------+------------+----------+--------+--------------------+--------------------+--------+--------------------+-------+--------------------+--------+--------------------+--------------------+------------+--------------------+
|     id|   budget|popularity|      revenue|vote_average|vote_count| date_id|               title|      original_title|language|            overview|runtime|             tagline|  status|            homepage|              genres|release_date|           read_time|
+-------+---------+----------+-------------+------------+----------+--------+--------------------+--------------------+--------+--------------------+-------+--------------------+--------+--------------------+--------------------+------------+--------------------+
|1233620|        0|  108.2867|          0.0|         6.8|       4.0|20250227| ¡Qué Huevos, Sofía!| ¡Qué Huevos, Sofía!|      es|Sofia gives every...|  106.0|                    |Released|                    |      [{35, Comedy}]|  2025-02-27|2025-05-22 19:56:...|
| 985939|  3000000|   22.6933|  1.7363261E7|       7.144|    4123.0|20220811|                Fall|                Fall|      en|For best friends ...|  107.0|Fear reaches new ...|Released|https://www.lions...|    [{53, Thriller}]|  2022-08-11|2025-05-22 19:56:...|
| 552524|100000000|   91.6885|          0.0|         8.3|      11.0|20250521|       Lilo & Stitch|       Lilo & Stitch|      en|The wildly funny ...|  108.0|Hold on to your c...|Released|https://movies.di...|[{10751, Family},...|  2025-05-21|2025-05-22 19:56:...|
|1094473|        0|  249.7793|          0.0|       6.053|      19.0|20241016|Bambi: A Life in ...|Bambi, l'histoire...|      fr|The life of Bambi...|   77.0|                    |Released|                    |[{12, Adventure},...|  2024-10-16|2025-05-22 19:56:...|
|1403735|        0|  105.6034|          0.0|         5.0|       3.0|20250214|               Laila|                లైలా|      te|Sonu Model, a ren...|  134.0|                    |Released|                    |[{35, Comedy}, {1...|  2025-02-14|2025-05-22 19:56:...|
|    120| 93000000|   26.3133| 8.71368364E8|       8.421|   25965.0|20011218|The Lord of the R...|The Lord of the R...|      en|Young hobbit Frod...|  179.0|One ring to rule ...|Released|http://www.lordof...|[{12, Adventure},...|  2001-12-18|2025-05-22 19:56:...|
|  18785| 35000000|   19.5128| 4.69310836E8|       7.323|   17238.0|20090602|        The Hangover|        The Hangover|      en|When three friend...|  100.0|Some guys just ca...|Released|https://www.warne...|      [{35, Comedy}]|  2009-06-02|2025-05-22 19:56:...|
|    680|  8000000|   18.2531| 2.13928762E8|       8.489|   28664.0|19940910|        Pulp Fiction|        Pulp Fiction|      en|A burger-loving h...|  154.0|You won't know th...|Released|https://www.miram...|[{53, Thriller}, ...|  1994-09-10|2025-05-22 19:56:...|
|1255788| 10000000|   18.4057|       4772.0|       6.236|     138.0|20250130|        The Gardener|        Le Jardinier|      fr|Every year the Pr...|  110.0|                    |Released|                    |[{28, Action}, {3...|  2025-01-30|2025-05-22 19:56:...|
|1094473|        0|  249.7793|          0.0|       6.053|      19.0|20241016|Bambi: A Life in ...|Bambi, l'histoire...|      fr|The life of Bambi...|   77.0|                    |Released|                    |[{12, Adventure},...|  2024-10-16|2025-05-22 19:56:...|
| 575265|        0|  205.7232|          0.0|         7.6|      78.0|20250517|Mission: Impossib...|Mission: Impossib...|      en|Ethan Hunt and th...|  170.0|Every choice, eve...|Released|https://www.missi...|[{28, Action}, {1...|  2025-05-17|2025-05-22 19:56:...|
|1233620|        0|  108.2867|          0.0|         6.8|       4.0|20250227| ¡Qué Huevos, Sofía!| ¡Qué Huevos, Sofía!|      es|Sofia gives every...|  106.0|                    |Released|                    |      [{35, Comedy}]|  2025-02-27|2025-05-22 19:56:...|
|1403735|        0|  105.6034|          0.0|         5.0|       3.0|20250214|               Laila|                లైలా|      te|Sonu Model, a ren...|  134.0|                    |Released|                    |[{35, Comedy}, {1...|  2025-02-14|2025-05-22 19:56:...|
| 552524|100000000|   91.6885|          0.0|         8.3|      11.0|20250521|       Lilo & Stitch|       Lilo & Stitch|      en|The wildly funny ...|  108.0|Hold on to your c...|Released|https://movies.di...|[{10751, Family},...|  2025-05-21|2025-05-22 19:56:...|
|1241982|150000000|  102.9097|1.059544057E9|       7.088|    2362.0|20241121|             Moana 2|             Moana 2|      en|After receiving a...|  100.0|The ocean is call...|Released|https://movies.di...|[{16, Animation},...|  2024-11-21|2025-05-22 19:56:...|
| 574475| 50000000|  503.2304| 1.05700106E8|         7.1|     241.0|20250509|Final Destination...|Final Destination...|      en|Plagued by a viol...|  110.0|Death runs in the...|Released|https://www.final...|[{27, Horror}, {9...|  2025-05-09|2025-05-22 19:56:...|
|1197306| 40000000|  365.7532|  9.8652557E7|       6.583|     831.0|20250326|       A Working Man|       A Working Man|      en|Levon Cade left b...|  116.0|Human traffickers...|Released|https://www.amazo...|[{28, Action}, {8...|  2025-03-26|2025-05-22 19:56:...|
|1356236|        0|   88.8228|          0.0|       6.864|      33.0|20240924|     Saint Catherine|     Saint Catherine|      en|An orphaned girl ...|   86.0|                    |Released|                    |      [{27, Horror}]|  2024-09-24|2025-05-22 19:56:...|
|1359977|        0|  175.3354|          0.0|       5.522|      23.0|20241001|  Conjuring the Cult|  Conjuring the Cult|      en|After discovering...|   93.0|                    |Released|                    |[{27, Horror}, {1...|  2024-10-01|2025-05-22 19:56:...|
|1124620| 10000000|   90.8103|  6.8758266E7|       5.906|     621.0|20250214|          The Monkey|          The Monkey|      en|When twin brother...|   97.0|Everybody dies. A...|Released|http://www.neonra...|[{27, Horror}, {3...|  2025-02-14|2025-05-22 19:56:...|
+-------+---------+----------+-------------+------------+----------+--------+--------------------+--------------------+--------+--------------------+-------+--------------------+--------+--------------------+--------------------+------------+--------------------+
only showing top 20 rows

In [17]:
df_Crews = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_Keywords_API")

In [18]:
df_Crews.head(1)

[Row(raw_json='{"id": 985939, "keywords": [{"id": 3298, "name": "hallucination"}, {"id": 9743, "name": "stranded"}, {"id": 33787, "name": "tower"}, {"id": 197623, "name": "free climbing"}, {"id": 209439, "name": "sport climbing"}, {"id": 234505, "name": "adrenaline junkie"}, {"id": 235677, "name": "dehydration"}, {"id": 309974, "name": "absurd"}, {"id": 316832, "name": "tense"}, {"id": 336497, "name": "survival thriller"}]}', topic='tmdb_keywords', read_time=datetime.datetime(2025, 5, 22, 19, 56, 11, 862000))]

In [46]:
dim_cast = spark.read.format("delta").load("s3a://lakehouse/gold/dim_cast")
dim_cast.count()

46972

In [42]:
dim_cast.printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- profile_path: string (nullable = true)
 |-- id: integer (nullable = true)

In [48]:
dim_cr = spark.read.format("delta") \
    .load("s3a://lakehouse/gold/dim_crew")
dim_cr.count()

132269

In [49]:
dim_cr.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- profile_path: string (nullable = true)
 |-- gender: integer (nullable = true)

In [37]:
dim_cr.show()

+-------+-----------------+--------------------+------+
|     id|             name|        profile_path|gender|
+-------+-----------------+--------------------+------+
|  11874|   Neal H. Moritz|/xgCTFHhbQh3QyIT7...|     2|
|  93364|      Jeff Fowler|/wExdubFgeBkEUP8M...|     2|
|  64227|    Brandon Trost|/ojlCBUXBaueoNV0d...|     2|
|  76054|    Luke Freeborn|                null|     2|
|1908574|        Al LeVine|                null|     2|
|1538618|         AJ Riach|/enK8bxdYmBPj6Oy3...|     2|
|  56827|   Tom Holkenborg|/oRxT9sySUewNqcfm...|     2|
|4527293|  Deanna Marshall|                null|     1|
|1634438|  Allan Padelford|                null|     2|
|2441229|     Oleg Podobin|                null|     2|
|  63453|    Patrick Casey|/tAhWI0rojGBVf9ik...|     2|
|  63449|      Josh Miller|/m9dCtaDDXycswi47...|     2|
|1492059| John Whittington|/oaaQ6BsmryuEeBlf...|     2|
|1486976|    Christina Low|/c8mwAXsOPFxM6sXS...|     1|
|1378696|Ethan Van der Ryn|/cee7w7XpNMSXyFv0...|     2|
|1378695|      Erik Aadahl|/c02IxbuxyZR93j0g...|     2|
|1378695|      Erik Aadahl|/c02IxbuxyZR93j0g...|     2|
|1378696|Ethan Van der Ryn|/cee7w7XpNMSXyFv0...|     2|
|2240788|      Toby Ascher|/xYcYyVQN2E3bw3L9...|     2|
|2222900|    Toru Nakahara|                null|     2|
+-------+-----------------+--------------------+------+
only showing top 20 rows

In [35]:
facr = spark.read.format("delta") \
    .load("s3a://lakehouse/gold/fact_movies")

from pyspark.sql.functions import col

facr.filter((col("date_id") / 10000).cast("int") == 2025).count()

432

In [36]:
facr.printSchema()

root
 |-- id: integer (nullable = true)
 |-- budget: integer (nullable = true)
 |-- popularity: double (nullable = true)
 |-- revenue: double (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: double (nullable = true)
 |-- date_id: long (nullable = true)

In [38]:
dim_g = spark.read.format("delta").load("s3a://lakehouse/gold/movie_cast")
dim_g.count()

46972

In [40]:
dim_g .printSchema()

root
 |-- cast_id: integer (nullable = true)
 |-- character: string (nullable = true)
 |-- movie_id: integer (nullable = true)
 |-- order: integer (nullable = true)

In [108]:
df_Movies = spark.read.format("delta").load("s3a://lakehouse/silver/Silver_Movies_API")
df_Crews = spark.read.format("delta").load("s3a://lakehouse/silver/Silver_Crews_API")
df_Keywords = spark.read.format("delta").load("s3a://lakehouse/silver/Silver_Keywords_API")
# last_read_time = Variable.get("last_read_time_SG", default_var="1970-01-01T00:00:00")
# last_read_time_ts = to_timestamp(lit(last_read_time), "yyyy-MM-dd HH:mm:ss")
try:
    readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")
except:
    spark.sql("""
CREATE TABLE IF NOT EXISTS delta.`s3a://lakehouse/ReadTime` (
    task_id STRING,
    last_read_time TIMESTAMP
) USING DELTA
""")
    spark.sql("""
    INSERT INTO delta.`s3a://lakehouse/ReadTime`
    VALUES 
      ('BatchApi_Process_Movies', '1970-01-01 00:00:00'),
      ('BatchApi_Process_Crews', '1970-01-01 00:00:00'),
      ('BatchApi_Process_Keywords', '1970-01-01 00:00:00')
""")
    readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")

result_movie = readTime.filter(f"task_id = 'BatchApi_Process_Movies'").select("last_read_time").collect()
result_crew = readTime.filter(f"task_id = 'BatchApi_Process_Crews'").select("last_read_time").collect()
result_keyword = readTime.filter(f"task_id = 'BatchApi_Process_Keywords'").select("last_read_time").collect()

last_read_time_movie = result_movie[0][0]
last_read_time_crew = result_crew[0][0]
last_read_time_keyword = result_keyword[0][0]


df_Movies = df_Movies.filter(f"read_time > '{last_read_time_movie}'")
df_Crews = df_Crews.filter(f"read_time > '{last_read_time_crew}'")

In [109]:
df_Crews.show()

+---+----+----+---------+
| id|cast|crew|read_time|
+---+----+----+---------+
+---+----+----+---------+

In [110]:
dim_cast_df = df_Crews.select(
    explode(col("cast")).alias("cast")
    ).select(
        col("cast.id").alias("cast_id"),
        col("cast.name").alias("name"),
        col("cast.profile_path").alias("profile_path"),
        col("cast.gender").alias("gender")
)

In [112]:
dim_cast = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_cast")
dim_cast.alias("target").merge(
    dim_cast_df.alias("source"),
    "target.cast_id = source.cast_id"
).whenNotMatchedInsertAll().execute()

AnalysisException: cannot resolve target.cast_id in search condition given columns target.name, target.gender, target.profile_path, target.id, source.cast_id, source.name, source.profile_path, source.gender; line 1 pos 0

In [ ]:

try:
    dim_cast = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_cast")
    dim_cast.alias("target").merge(
        dim_cast_df.alias("source"),
        "target.cast_id = source.cast_id"
    ).whenNotMatchedInsertAll().execute()
except:
    dim_cast_df.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/gold/dim_cast")

In [103]:
dim_cast = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_cast")

In [104]:
dim_cast.count()

AttributeError: 'DeltaTable' object has no attribute 'count'

In [105]:
df.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/gold/dim_cast")

In [113]:
df = spark.read.format("delta") \
    .load("s3a://lakehouse/gold/dim_cast")

In [114]:
df.count()

205735

In [97]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- profile_path: string (nullable = true)
 |-- id: integer (nullable = true)

In [32]:
df.show()

+-------+-------------------+--------------------+------+-----+
|cast_id|               name|        profile_path|gender|order|
+-------+-------------------+--------------------+------+-----+
|5443785|   Braedon Trujillo|/tJrzXw3sIJBSqbSb...|     2|    0|
|1258966|    Iqbaal Ramadhan|/AoETtoy7K04cRCtP...|     2|    0|
|2034251|      Angga Yunanda|/1M3cLNTQLL1Vy6Ub...|     2|    1|
|1878346|      Aghniny Haque|/5pFyssmQGxxCu5ge...|     1|    2|
|1972045|      Rachel Amanda|/c2Ts2WgLSUUZV6xT...|     1|    3|
|1825362|          Ari Irham|/1GL3vMkA2MedpOsk...|     2|    4|
|2110619|        Umay Shahab|/6iRD80jucvDQWIyY...|     2|    5|
|1157592|   Atiqah Hasiholan|/fmvlEKtxQQLHzmFH...|     1|    6|
|1155281|     Tio Pakusadewo|/uAbKPJPbXVg1pi1b...|     2|    7|
|1158143|         Dwi Sasono|/3l5aJxHeDI2wMajt...|     2|    8|
|1503670|      Ganindra Bimo|/6nsI1LCCadVaMKjK...|     2|    9|
|1571858|        Andrea Dian|/7G9jaBQ437o4GSbe...|     1|   10|
|2095812|      Muhammad Khan|/lJjEBY9c235CJtTb...|     2|   11|
|3123222|        Reza Hilman|                null|     0|   12|
|1259152|   Joshua Pandelaki|/3kZaROWAnw9aSB2R...|     2|   13|
|1155282|   Ratna Riantiarno|/6GtYfY1eMK9F9iqJ...|     0|   14|
|1539399|        Jenny Zhang|/aBwKbQmgBA1cpT3m...|     1|   15|
|1001666|       Tegar Satrya|/hQU2DsjwCKcaEMUU...|     2|   16|
|3859121|      Frangky Lucas|                null|     0|   17|
|2781195|Novi Rahmat Hidayat|                null|     0|   18|
+-------+-------------------+--------------------+------+-----+
only showing top 20 rows

In [17]:
id_counts = df.groupBy("profile_path").agg(F.count("*").alias("count"))

# Lọc ra các id xuất hiện nhiều hơn 1 lần
duplicate_ids = id_counts.filter(F.col("count") > 1)

duplicate_ids.show()

+--------------------+------+
|        profile_path| count|
+--------------------+------+
|/7MLLqCXPFEF9PwnV...|     2|
|                null|128430|
|/924xXlQnyah5S7IX...|     2|
|/zw5NqIuPMJ9dOcat...|     2|
|/XOBozygTE94ERu1g...|     2|
|/uS4a3epqXVtjTUGR...|     2|
|/vXC9xIRPuI60wN2P...|     2|
|/zUqyn3aQXTzeP1n8...|     3|
|/cC4ogX4QInjkCSSk...|     2|
|/qV7OgJ3rcRmwKPkg...|     3|
|/eA6I3oUAR7iyIgxD...|     2|
|/njnqNhDGKxM2qLye...|     2|
|/miYaN1tdR41HqoxF...|     2|
|/67ezLWzb4bV3Z6IO...|     3|
+--------------------+------+

In [9]:
df.movi

[Row(name='Harrison Ford', gender=2, profile_path='/7CcoVFTogQgex2kJkXKMe8qHZrC.jpg', id=3),
 Row(name='Peter Cushing', gender=2, profile_path='/fg7ufC0IMr6VasQzzdmTtX5ycQF.jpg', id=5),
 Row(name='Allison Janney', gender=1, profile_path='/fido6hwI8tFSZNt6HtP2DZH2eu6.jpg', id=19),
 Row(name='Elizabeth Perkins', gender=1, profile_path='/bkdWnnrMADJcFpKAOitMjQH3uEQ.jpg', id=20),
 Row(name='Sally Field', gender=1, profile_path='/ymhpsxujOO3a9qaGYSpkenCt9Le.jpg', id=35),
 Row(name='Alan Silvestri', gender=2, profile_path='/chEsfnDEtRmv1bfOaNAoVEzhCc6.jpg', id=37),
 Row(name='Orson Welles', gender=2, profile_path='/2DF3e98c7GGa1uJJvpgIiMPg0h2.jpg', id=40),
 Row(name='Sean Bean', gender=2, profile_path='/iIxP2IzvcLgr5WaTBD4UfSqaV3q.jpg', id=48),
 Row(name='Maurice Roeves', gender=2, profile_path='/qXYjnIHClkey4QQxPG5D5JD7Y74.jpg', id=54),
 Row(name='Gary Oldman', gender=2, profile_path='/v4qJEX4TEgEt2Zghldbd71AFjbV.jpg', id=64),
 Row(name='Robert August', gender=2, profile_path=None, id=92),
 Row(name='Cate Blanchett', gender=1, profile_path='/33vvSBq51vpXwfkhQzQTwgRAUeI.jpg', id=112),
 Row(name='Uma Thurman', gender=1, profile_path='/6SuOc2R7kXjq3Em24KTNDW9qblJ.jpg', id=139),
 Row(name='Walter Murch', gender=2, profile_path=None, id=154),
 Row(name='Lior Ashkenazi', gender=2, profile_path='/c2IJJuYiqZNHoZVikp6HgCgbGkK.jpg', id=164),
 Row(name='Knut Berger', gender=2, profile_path=None, id=165),
 Row(name='Carola Regnier', gender=1, profile_path='/mMlu7Y5U4DXLXAERCSLH7ILjWZL.jpg', id=168),
 Row(name='Hanns Zischler', gender=2, profile_path='/zlVtIH2P4cZLyftZZcfFo037N3t.jpg', id=169),
 Row(name='David Silverman', gender=2, profile_path='/oatUUj2riEaUSoncMv1Ulheffog.jpg', id=197),
 Row(name='Kirsten Dunst', gender=1, profile_path='/wBXvh6PJd0IUVNpvatPC1kzuHtm.jpg', id=205),
 Row(name='Tom Wilkinson', gender=2, profile_path='/4mxZKgdem0sQ8hJd0Y7TREwq7TJ.jpg', id=207),
 Row(name='William Hurt', gender=2, profile_path='/mf5GiYZjURQ72CPtY1kBva7mqIK.jpg', id=227),
 Row(name='Greg Bryk', gender=2, profile_path='/1I3SxKFvQSam6KOMT4j5f0nFxRg.jpg', id=231),
 Row(name='Deborah Drakeford', gender=0, profile_path=None, id=235),
 Row(name='Margaret Tyzack', gender=1, profile_path='/x46TBOnZI9i5jfIkD12i8cnrQdK.jpg', id=250),
 Row(name='Gael García Bernal', gender=2, profile_path='/6rTzWV80Z8AZbF6o3io1sYVOGhI.jpg', id=258),
 Row(name='Alvaro Guerrero', gender=0, profile_path='/d2k2Z0XgSIkBJxAuedS5yOF9O1U.jpg', id=262),
 Row(name='Emilio Echevarría', gender=2, profile_path='/iGgExtFoyuIAmll19gEmorWQAPX.jpg', id=263),
 Row(name='Humberto Busto', gender=2, profile_path='/u9Y1oxHrkj6J69HDTWPCgtMcIrp.jpg', id=266),
 Row(name='Rosa María Bianchi', gender=0, profile_path='/qZkZhM3fa0IH5qgMOArHtZ0K6pH.jpg', id=268),
 Row(name='Dunia Saldívar', gender=1, profile_path='/jXS6rqUqUWpUGo5vV6VLm9LjpZc.jpg', id=269),
 Row(name='Antonio Vega', gender=0, profile_path=None, id=279),
 Row(name='Frederick Strother', gender=0, profile_path='/r4V8H2qg1J0tgeoxToxj19nFVM.jpg', id=292),
 Row(name='John Wagner', gender=2, profile_path=None, id=306),
 Row(name='Pedro Almodóvar', gender=2, profile_path='/9dc8NqjMnOcZ8EiUvaAQiMiT4Tz.jpg', id=309)]

In [19]:
df.count()

560238

In [20]:
df = spark.read.format("delta").load("s3a://lakehouse/silver/Silver_Movies_API")

In [23]:
df = spark.read.format("delta").load("s3a://lakehouse/gold/dim_movie")

In [24]:
df.count()

45434

In [16]:
df.count()

136418

In [18]:
df.count()

1133

In [17]:
def fix_json_format(crew_str):
    if crew_str is None:
        return None
    try:
        # Dùng json.loads để kiểm tra nếu hợp lệ, nếu không thì sửa
        fixed_json = json.dumps(eval(crew_str))  # Chuyển đổi thành JSON chuẩn
        return fixed_json
    except Exception as e:
        return None  # Trả về None nếu có lỗi
fix_json_udf = udf(fix_json_format, StringType()) 
df_dim_cast = spark.read.format("delta").load("s3a://lakehouse/silver/credit")
df_dim_cast= df_dim_cast.withColumn("cast", fix_json_udf(col("cast")))


cast_schema = ArrayType(
    StructType([
        StructField("cast_id", IntegerType(), True),
        StructField("character", StringType(), True),
        StructField("credit_id", StringType(), True),
        StructField("gender", IntegerType(), True),
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True),
        StructField("order", IntegerType(), True),
        StructField("profile_path", StringType(), True)
    ])
)
df_parsed = df_dim_cast.withColumn("cast", from_json(col("cast"), cast_schema))

# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("cast", explode(col("cast")))

# Chọn các trường cần thiết
df_selected_Dim = df_exploded.select(
    col("cast.name"),
    col("cast.gender"),
    col("cast.profile_path"),
    col("cast.id")
)
df_selected_Bridge = df_exploded.select(
    col("cast.id").alias("cast_id"),
    col("cast.character"),
    col("id").alias("movie_id"),
    col("cast.order")

)

print("df_exploded" ,df_exploded.count())
try:
    dim_cast = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_cast")
    dim_cast.alias("target").merge(
        df_selected_Dim.alias("source"),
        "target.id = source.id"
    ).whenNotMatchedInsertAll().execute()
except:
    df_selected_Dim.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/gold/dim_cast")
    
try:
    movie_cast = DeltaTable.forPath(spark, "s3a://lakehouse/gold/movie_cast")
    movie_cast.alias("target").merge(
        df_selected_Bridge.alias("source"),
        "target.movie_id = source.movie_id AND target.cast_id = source.cast_id AND target.character = source.character"
    ).whenNotMatchedInsertAll().execute()
except:
    df_selected_Bridge.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/gold/movie_cast")

df_exploded 560668

In [16]:
df_selected_Bridge.count()

560668

In [15]:
df.count()

607386

In [23]:
df.head(20)

[Row(id=31357, comb='singlemother interracialrelationship chickflick divorce basedonnovel WhitneyHouston AngelaBassett LorettaDevine ForestWhitaker Comedy Drama Romance'),
 Row(id=46785, comb='celebration money goldfish fish AidaMohammadkhani FereshtehSadreOrafaiy MohsenKafili JafarPanahi Drama Family'),
 Row(id=9614, comb='lossofmother taxes golf lossoffather sport BenStiller AdamSandler ChristopherMcDonald DennisDugan Comedy'),
 Row(id=51352, comb='typhus burglary fascism victim prejudice auschwitz rabbit interview GlennClose KennethBranagh JonBlair Foreign Drama Documentary'),
 Row(id=73067, comb='flashback ireland boy writer troopship CorbanWalker MattDillon GabrielByrne MichaelLindsay-Hogg War Drama Romance'),
 Row(id=2292, comb="loser salesclerk aftercreditsstinger BrianO'Halloran JasonMewes JeffAnderson KevinSmith Comedy"),
 Row(id=9271, comb='visualeffect computerprogram hologram virtualreality artificialintelligence policetraining ex-cop android DenzelWashington KellyLynch RussellCrowe BrettLeonard Thriller Action Science Fiction Crime'),
 Row(id=46924, comb='success medievaltimes struggle RobinWilliams MaxJohnson MaudieJohnson BillForsyth Fantasy Comedy Drama'),
 Row(id=9612, comb='alienlife-form spaceinvasion extraterrestrialtechnology RobertKnott JaneCurtin DanAykroyd SteveBarron Science Fiction Comedy Family'),
 Row(id=788, comb='restaurant custodybattle sanfrancisco nanny mask parentchildrelationship fakeidentity SallyField RobinWilliams PierceBrosnan ChrisColumbus Comedy Drama Family'),
 Row(id=18862, comb='basement children divorce JamieLeeCurtis KyleHoward KevinPollak HarryWiner Comedy Family'),
 Row(id=9401, comb='hitman explosion cocaine murder losangeles guns scam hostage assassin detective suicidal argument jealousy nudity GregCruttwell JeffDaniels DannyAiello JohnHerzfeld Crime Comedy'),
 Row(id=81310, comb='winniethepooh short JohnFiedler SterlingHolloway WolfgangReitherman Animation Music Family'),
 Row(id=102461, comb='BenoîtMagimel VirginieLedoyen DominiqueValadié BenoîtJacquot Drama'),
 Row(id=85588, comb=''),
 Row(id=54405, comb='independentfilm NedBeatty TaraFitzgerald AdrianDunbar PeterChelsom Foreign Comedy'),
 Row(id=17692, comb='scubadiving swimming seaworld 3d sequel dolphin killershark themepark diving boattrouble waterskiing greatwhiteshark shark florida giantanimal BessArmstrong DennisQuaid SimonMacCorkindale JoeAlves Thriller Horror'),
 Row(id=64562, comb='Drama'),
 Row(id=29193, comb='confidence dialogue invention independentfilm SteveMartin CampbellScott BenGazzara DavidMamet Thriller Crime Drama Mystery'),
 Row(id=78373, comb='smalltown texas BreckinMeyer PeterFacinelli EddieMills TimMcCanlies Comedy Drama Family')]

In [10]:
df = spark.read.format("delta").load("s3a://lakehouse/silver/Silver_API_1")
# last_read_time = Variable.get("last_read_time_SG", default_var="1970-01-01T00:00:00")
# last_read_time_ts = to_timestamp(lit(last_read_time), "yyyy-MM-dd HH:mm:ss")
try:
    readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")
except:
    spark.sql("""
CREATE TABLE IF NOT EXISTS delta.`s3a://your-bucket/processing_state` (
    task_id STRING,
    last_read_time TIMESTAMP
) USING DELTA
""")
    spark.sql("""
    INSERT INTO delta.`s3a://lakehouse/ReadTime`
    VALUES ('BatchApi_Process', '1970-01-01 00:00:00')
    """)
    readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")

result = readTime.filter(f"task_id = 'BatchApi_Process'").select("last_read_time").collect()
last_read_time = result[0][0]

df.filter(f"read_time > '{last_read_time}'")
# --------------------------------------------------
# FACT TABLE: fact_movie
# --------------------------------------------------
fact_movie_df = df.select(
    col("id"),
    col("budget"),
    col("popularity"),
    col("revenue"),
    col("vote_average"),
    col("vote_count"),
    col("date_id")
).dropDuplicates(["id"])

try:

    fact_movie = DeltaTable.forPath(spark, "s3a://lakehouse/gold/fact_movies")

    fact_movie.alias("target").merge(
        fact_movie_df.alias("source"),
        "target.id = source.id"
    ).whenNotMatchedInsertAll().execute()
except :
    fact_movie_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/gold/fact_movies")



# fact_movie_query = fact_movie_df.writeStream \
#     .format("delta") \
#     .outputMode("append") \
#     .option("checkpointLocation", "s3a://lakehouse/check/fact_movies") \
#     .option("path", "s3a://lakehouse/gold/fact_movies") \
#     .start()

# --------------------------------------------------
# DIMENSION TABLE: dim_movie
# Lưu ý: Đổi tên các cột để khớp với schema của Delta table hiện có:
# Schema mong đợi: id, title, original_title, language, overview, runtime, tagline, status, homepage
# --------------------------------------------------
dimmovie_df = df.select(
    col("id"),                        # Ép sang long
    col("title"),                                                # Giữ nguyên kiểu string
    col("original_title"),                                       # Giữ nguyên kiểu string
    col("language"),                  # Đổi tên trường: original_language -> language
    col("overview"),                                             # Giữ nguyên kiểu string
    col("runtime"),              # Ép về double
    col("tagline"),                                              # Giữ nguyên kiểu string
    col("status"),                                               # Giữ nguyên kiểu string
    col("homepage")                                              # Giữ nguyên kiểu string
).dropDuplicates(["id"])


try:
    dimmovie = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_movie")
    dimmovie.alias("target").merge(
        dimmovie_df.alias("source"),
        "target.id = source.id"
    ).whenNotMatchedInsertAll().execute()
except:
    dimmovie_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/gold/dim_movie")
# dimmovie_query = dimmovie_df.writeStream \
#     .format("delta") \
#     .outputMode("append") \
#     .option("checkpointLocation", "s3a://lakehouse/check/dim_movie") \
#     .option("path", "s3a://lakehouse/gold/dim_movie") \
#     .start()

# --------------------------------------------------
# DIMENSION TABLE: dim_date
# --------------------------------------------------
dimdate_df = df.withColumn("release_date", to_date(col("release_date"), "yyyy-MM-dd")) \
    .select(
        date_format(col("release_date"), "yyyy-MM-dd").alias("release_date"),
        dayofweek(col("release_date")).alias("DayOfWeek"),
        date_format(col("release_date"), "EEEE").alias("DayName"),
        dayofmonth(col("release_date")).alias("DayOfMonth"),
        dayofyear(col("release_date")).alias("DayOfYear"),
        weekofyear(col("release_date")).alias("WeekOfYear"),
        date_format(col("release_date"), "MMMM").alias("MonthName"),
        month(col("release_date")).alias("MonthOfYear"),
        quarter(col("release_date")).alias("Quarter"),
        year(col("release_date")).alias("Year"),
        when(dayofweek(col("release_date")).between(2, 6), True).otherwise(False).alias("IsWeekDay"),
        col("date_id")
    ).dropDuplicates(["date_id"])

try:
    dimdate = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_date")
    dimdate.alias("target").merge(
        dimdate_df.alias("source"),
        "target.date_id = source.date_id"
    ).whenNotMatchedInsertAll().execute()
except:
    dimdate_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/gold/dim_date")

# dim_date_query = dimdate_df.writeStream \
#     .format("delta") \
#     .outputMode("append") \
#     .option("checkpointLocation", "s3a://lakehouse/check/dim_date") \
#     .option("path", "s3a://lakehouse/gold/dim_date") \
#     .start()

# --------------------------------------------------
# DIMENSION TABLE: dim_genre
# --------------------------------------------------
dim_genre_df = df.select(
    explode(col("genres")).alias("genre")
).select(
    col("genre.id").cast("integer").alias("id"),
    col("genre.name").alias("name")
).dropDuplicates(["id"])

try:
    dim_genre = DeltaTable.forPath(spark, "s3a://lakehouse/gold/dim_genre")
    dim_genre.alias("target").merge(
        dim_genre_df.alias("source"),
        "target.id = source.id"
    ).whenNotMatchedInsertAll().execute()
except:
    dim_genre_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/gold/dim_genre")

# dim_genre_query = dim_genre_df.writeStream \
#     .format("delta") \
#     .outputMode("append") \
#     .option("checkpointLocation", "s3a://lakehouse/check/dim_genre") \
#     .option("path", "s3a://lakehouse/gold/dim_genre") \
#     .start()

# --------------------------------------------------
# BRIDGE TABLE: movie_genres
# --------------------------------------------------
movie_genre_df = df.select(
    col("id").alias("movie_id"),
    explode(col("genres")).alias("genre")
).select(
    col("genre.id").cast("integer").alias("genres_id"),
    col("movie_id").alias("id")
)

try:
    movie_genre = DeltaTable.forPath(spark, "s3a://lakehouse/gold/movie_genre")
    movie_genre.alias("target").merge(
        movie_genre_df.alias("source"),
        "target.id = source.id AND target.genres_id = source.genres_id"
    ).whenNotMatchedInsertAll().execute()
except:
    movie_genre_df.write.format("delta").mode("overwrite").save("s3a://lakehouse/gold/movie_genres")

# movie_genres_query = movie_genre_df.writeStream \
#     .format("delta") \
#     .outputMode("append") \
#     .option("checkpointLocation", "s3a://lakehouse/check/movie_genres") \
#     .option("path", "s3a://lakehouse/gold/movie_genres") \
#     .start()


# date = spark.sql("SELECT current_timestamp() AS ts")

# # Lấy giá trị timestamp từ DataFrame
# new_last_read_time = date.collect()[0]["ts"]

# # Chuyển timestamp thành chuỗi ISO format (nếu cần)
# new_last_read_time_str = new_last_read_time.isoformat()

# # Lưu vào Airflow Variable
# Variable.set("last_read_time_SG", new_last_read_time_str)

# new_last_read_time = datetime.now().isoformat()
# Variable.set("last_read_time_SG", new_last_read_time)


max_read_time_row = df.agg(max("read_time")).collect()
max_read_time = max_read_time_row[0]["max(read_time)"] if max_read_time_row else None


readTime = spark.read.format("delta").load("s3a://lakehouse/ReadTime")
    
    # Cập nhật hoặc chèn bản ghi mới
updated_df = readTime.filter(f"task_id != 'BatchApi_Process'").union(
    spark.createDataFrame([("BatchApi_Process", max_read_time)], ["task_id", "last_read_time"])
)

# Ghi đè Delta Table
updated_df.write.format("delta").mode("overwrite").save("s3a://your-bucket/processing_state")

ValueError: read_time

In [3]:
df = spark.read.format("delta").load("s3a://lakehouse/bronze/Bronze_API_1")

In [5]:
from pyspark.sql.functions import current_timestamp, expr

filtered_df = df.filter(col("read_time") >= expr("current_timestamp() - interval 15 hour"))

# Hiển thị dữ liệu đã lọc
filtered_df.show()

+------+--------------------+--------------------+-----------------+--------------------+-------+-------+--------+--------------------+------+----------+-------+------------+----------+------------+----------------+-------------------+
|    id|      original_title|               title|original_language|            overview|runtime|tagline|  status|            homepage|budget|popularity|revenue|vote_average|vote_count|release_date|          genres|          read_time|
+------+--------------------+--------------------+-----------------+--------------------+-------+-------+--------+--------------------+------+----------+-------+------------+----------+------------+----------------+-------------------+
| 46704|Shakira: MTV Unpl...|Shakira: MTV Unpl...|               en|MTV Unplugged is ...|   51.0|       |Released|http://www.shakir...|     0|      0.36|      0|         7.6|         8|  2000-02-29|[{10402, Music}]|2025-02-23 08:16:52|
|853991|Battle of the Bot...|Battle of the Bot...|               en|Active Duty is pr...|  126.0|       |Released|                    |     0|       0.0|      0|         0.0|         0|  2017-09-08|              []|2025-02-23 08:16:29|
|351390|                Alba|                Alba|               en|A young priest ha...|   23.0|       |Released|                    |     0|     0.121|      0|         6.0|         1|  2012-02-06|   [{18, Drama}]|2025-02-23 08:16:29|
|396043|                Lola|                Lola|               es|Lola is a young l...|   16.0|       |Released|                    |     0|     0.105|      0|         0.0|         0|  2014-07-24|   [{18, Drama}]|2025-02-23 08:16:29|
+------+--------------------+--------------------+-----------------+--------------------+-------+-------+--------+--------------------+------+----------+-------+------------+----------+------------+----------------+-------------------+

In [5]:
df = spark.read.format("delta").load("s3a://lakehouse/silver/Silver_API_1")
df.head(5)

[Row(id=605475, budget=0, popularity=0.006, revenue=0.0, vote_average=0.0, vote_count=0.0, date_id=20160106, title='At-issue', original_title='At-issue', language='en', overview='Puppet Bartholomew makes a change to his life.', runtime=10.0, tagline='', status='Released', homepage='', genres=[], release_date=datetime.date(2016, 1, 6), read_time=datetime.datetime(2025, 2, 22, 15, 52, 24, 948000)),
 Row(id=861458, budget=0, popularity=0.075, revenue=0.0, vote_average=1.0, vote_count=1.0, date_id=20020408, title='Nouvelles neuves du monde de Moustic', original_title='Nouvelles neuves du monde de Moustic', language='fr', overview='', runtime=0.0, tagline='', status='Released', homepage='', genres=[Row(id=35, name='Comedy')], release_date=datetime.date(2002, 4, 8), read_time=datetime.datetime(2025, 2, 22, 15, 52, 24, 948000)),
 Row(id=724202, budget=0, popularity=0.009, revenue=0.0, vote_average=0.0, vote_count=0.0, date_id=20170905, title='Erdogan - Vom Demokraten zum Despoten', original_title='Erdogan - Vom Demokraten zum Despoten', language='de', overview='', runtime=0.0, tagline='', status='Released', homepage='', genres=[Row(id=99, name='Documentary')], release_date=datetime.date(2017, 9, 5), read_time=datetime.datetime(2025, 2, 22, 16, 3, 5, 72000)),
 Row(id=937069, budget=0, popularity=0.006, revenue=0.0, vote_average=0.0, vote_count=0.0, date_id=20170101, title='Chris Sharma - Above The Sea', original_title='Chris Sharma - Above The Sea', language='it', overview='', runtime=0.0, tagline='', status='Released', homepage='', genres=[Row(id=99, name='Documentary'), Row(id=12, name='Adventure'), Row(id=36, name='History')], release_date=datetime.date(2017, 1, 1), read_time=datetime.datetime(2025, 2, 22, 16, 9, 7, 122000)),
 Row(id=771933, budget=0, popularity=0.418, revenue=0.0, vote_average=5.0, vote_count=2.0, date_id=19910101, title='El prófugo', original_title='El prófugo', language='es', overview='', runtime=0.0, tagline='', status='Released', homepage='', genres=[], release_date=datetime.date(1991, 1, 1), read_time=datetime.datetime(2025, 2, 22, 16, 9, 7, 122000))]

In [13]:
df.head(5)

[Row(id=912401, original_title='레전드 오브 갱스터', title='The Gods', original_language='ko', overview='In a modern-day Romeo and Juliet, Mikey James, a street hustler raised on the streets with his two brothers, goes to work for the Fasano family as he desperately tries to find a way out of his hustling lifestyle.', runtime=0.0, tagline='', status='Released', homepage='', budget=0, popularity=0.006, revenue=0, vote_average=0.0, vote_count=0, release_date=datetime.date(2017, 1, 6), genres=[], read_time=datetime.datetime(2025, 2, 22, 16, 7, 44, 742000)),
 Row(id=674221, original_title='Una Noche En Mexico', title='Una Noche En Mexico', original_language='es', overview='One story, one script, one cast, one location two languages. A unique project that talks to two cultures. These films are dedicated to the \'Dreamers\' in the US that is stuck between two countries and two cultures. Pablo is a first generation Mexican/American born in the United States, his parents gave him a great education and family life as they assimilated into the American lifestyle. His parents planned on returning to Mexico to retire but after the death of Pablo\'s mother their dream of returning to their beloved country died with her. Pablo\'s father vowed to show Pablo the roots of his heritage and sends his son to Mexico to their family\'s Tequila factory in hopes he will understand and appreciate his heritage. Little did he know that "One Night in Mexico" would change his son\'s life forever.', runtime=73.0, tagline='', status='Released', homepage='', budget=0, popularity=0.077, revenue=0, vote_average=5.0, vote_count=2, release_date=datetime.date(2016, 1, 1), genres=[], read_time=datetime.datetime(2025, 2, 22, 16, 7, 44, 742000)),
 Row(id=881376, original_title='Origami', title='Origami', original_language='xx', overview='Japan. A man loses his wife and in his sorrow, he dives into origami - his deceased wife’s passion - trying to find comfort in the paper world he’s creating', runtime=5.0, tagline='', status='Released', homepage='', budget=0, popularity=0.015, revenue=0, vote_average=0.0, vote_count=0, release_date=datetime.date(2021, 6, 15), genres=[Row(id=16, name='Animation')], read_time=datetime.datetime(2025, 2, 22, 16, 7, 44, 742000)),
 Row(id=258732, original_title='Hit and Run', title='Hit and Run', original_language='en', overview='Joanna Kendall must choose between right and wrong when she accidentally hits a young girl with her car. After leaving to call for help, she returns - only to hear the reaction of horrified onlookers, who are outraged that the culprit left the scene of the crime. In a moment of panic and confusion, Joanna makes the life-changing decision to remain silent. The effect snowballs, as this perfect wife and mother must grapple with her guilt, as well as with the female detective who suspects her.', runtime=88.0, tagline="She ran over a child and didn't stop... Now her conscious is tearing her apart.", status='Released', homepage='', budget=0, popularity=0.549, revenue=0, vote_average=6.3, vote_count=7, release_date=datetime.date(1999, 1, 11), genres=[Row(id=18, name='Drama'), Row(id=10770, name='TV Movie')], read_time=datetime.datetime(2025, 2, 22, 16, 5, 10, 250000)),
 Row(id=387903, original_title='XTFMAX Cardio Max', title='XTFMAX Cardio Max', original_language='en', overview='If you want to melt away fat, build lean muscle and get serious about your fitness, then join Stephanie Oram and XTFMAX. XTFMAX includes 12 complete workouts designed to shred fat and build long lean muscle in just 90 days. Each workout demonstrates 4 different workout levels so regardless if you are a beginner, or ready to take it to the next level atheletically, this program works for you.', runtime=0.0, tagline='XTFMAX', status='Released', homepage='', budget=0, popularity=0.04, revenue=0, vote_average=9.0, vote_count=1, release_date=datetime.date(2014, 9, 1), genres=[], read_time=datetime.datetime(2025, 2, 22, 16, 5, 10, 250000))]

In [16]:
df.select("read_time").collect()

[Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 14, 44000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 45, 127000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 2, 63000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 29, 120000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 46, 264000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 32, 966000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 16, 369000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 17, 641000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 55, 317000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 0, 555000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 36, 249000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 27, 376000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 25, 633000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 12, 228000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 12, 228000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 12, 228000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 12, 228000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 51, 440000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 15, 281000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 15, 281000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 15, 281000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 13, 303000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 13, 303000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 13, 303000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 35, 523000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 35, 523000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 35, 523000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 35, 523000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 37, 793000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 37, 793000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 37, 793000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 38, 230000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 56, 537000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 56, 537000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 49, 593000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 3, 343000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 29, 41, 926000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 24, 417000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 55, 371000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 55, 371000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 55, 371000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 55, 371000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 3, 526000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 3, 526000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 3, 526000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 3, 526000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 23, 619000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 23, 619000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 23, 619000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 23, 619000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 36, 155000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 13, 665000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 13, 665000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 13, 665000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 13, 665000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 38, 348000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 38, 348000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 38, 348000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 38, 348000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 0, 266000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 41, 436000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 4, 178000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 4, 178000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 4, 178000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 4, 178000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 44, 742000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 44, 742000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 44, 742000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 8, 70000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 8, 70000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 8, 70000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 8, 70000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 26, 344000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 15, 15, 385000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 40, 981000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 51, 708000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 51, 708000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 32, 495000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 32, 495000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 32, 495000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 15, 994000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 36, 282000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 36, 282000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 39, 605000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 10, 250000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 10, 250000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 26, 527000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 26, 527000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 26, 527000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 29, 0, 721000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 58, 609000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 58, 609000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 58, 609000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 51, 23, 982000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 51, 23, 982000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 51, 23, 982000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 25, 590000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 25, 590000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 25, 590000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 25, 590000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 54, 805000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 54, 859000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 54, 859000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 20, 498000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 20, 498000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 20, 498000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 20, 498000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 44, 536000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 44, 536000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 44, 536000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 10, 537000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 46, 248000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 46, 248000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 46, 248000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 46, 248000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 7, 354000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 55, 427000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 55, 427000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 55, 427000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 55, 427000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 14, 144000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 22, 147000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 22, 147000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 22, 147000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 22, 147000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 39, 202000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 27, 782000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 27, 782000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 27, 782000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 27, 782000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 13, 705000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 13, 705000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 13, 705000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 17, 82000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 16, 675000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 16, 675000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 16, 675000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 16, 675000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 15, 17, 700000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 15, 17, 700000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 15, 17, 700000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 15, 17, 700000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 29, 31, 631000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 15, 134000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 15, 134000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 15, 134000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 40, 975000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 40, 975000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 40, 975000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 40, 975000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 24, 560000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 3, 861000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 1, 617000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 1, 617000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 47, 519000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 47, 519000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 5, 881000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 5, 881000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 12, 661000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 12, 661000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 12, 661000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 5, 194000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 5, 194000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 15, 659000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 15, 659000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 15, 659000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 15, 659000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 47, 19000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 47, 19000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 47, 19000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 53, 191000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 53, 191000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 53, 191000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 53, 191000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 56, 0, 921000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 56, 0, 921000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 56, 0, 921000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 30, 715000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 59, 678000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 59, 678000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 14, 59, 678000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 8, 711000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 8, 711000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 5, 405000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 5, 405000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 23, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 23, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 23, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 48, 154000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 48, 154000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 48, 154000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 48, 154000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 55, 657000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 55, 657000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 55, 657000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 53, 157000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 0, 53, 157000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 47, 929000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 49, 882000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 58, 299000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 26, 204000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 49, 309000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 49, 309000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 49, 309000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 30, 774000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 30, 774000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 6, 20, 886000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 58, 927000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 5, 19, 64000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 22, 687000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 22, 687000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 5, 639000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 51, 57, 78000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 51, 57, 78000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 13, 670000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 2, 34, 171000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 6, 643000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 6, 643000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 6, 643000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 56, 806000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 56, 806000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 53, 56, 806000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 41, 394000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 41, 394000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 46, 483000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 46, 483000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 46, 483000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 20, 57000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 20, 57000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 20, 57000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 20, 57000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 37, 970000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 37, 970000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 59, 28, 992000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 26, 162000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 26, 162000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 26, 162000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 41, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 41, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 41, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 21, 41, 506000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 29, 418000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 29, 418000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 55, 29, 418000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 4, 479000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 4, 479000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 22, 4, 479000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 53, 61000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 12, 417000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 12, 417000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 18, 437000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 4, 18, 437000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 8, 55, 404000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 34, 814000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 34, 814000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 52, 43, 250000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 24, 150000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 24, 150000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 7, 24, 150000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 1, 32, 478000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 17, 588000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 9, 17, 588000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 15, 54, 46, 756000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 57, 821000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 57, 821000)),
 Row(read_time=datetime.datetime(2025, 2, 22, 16, 3, 57, 821000)),

In [7]:
df = spark.read.format("delta").load("s3a://lakehouse/gold/movie_genre")
df.printSchema()

root
 |-- genres_id: integer (nullable = true)
 |-- id: integer (nullable = true)

In [31]:
import boto3
import pandas as pd
def connect_minio():
    try:
        s3_client = boto3.client(
            "s3",
            aws_access_key_id="conbo123",
            aws_secret_access_key="123conbo",
            endpoint_url='http://minio:9000' 
        )
        return s3_client
    except Exception as e:
        logging.error(f"Error connecting to MinIO: {str(e)}")
        raise e

def get_data_from_raw(name):
    try:
        client = connect_minio()
        response = client.get_object(Bucket="lakehouse", Key=f'raw/{name}.csv')
        df = pd.read_csv(response.get("Body"), low_memory=False)
        return df
    except Exception as e:
        logging.error(f"Error getting data from MinIO: {str(e)}")
        raise e

# Hàm ghi dữ liệu vào MinIO
def save_data_to_bronze(df, name):
    try:
        client = connect_minio()
        # Sử dụng BytesIO để lưu trữ dữ liệu dưới dạng Parquet
        parquet_buffer = BytesIO()
        df.to_parquet(parquet_buffer, index=False)
        parquet_buffer.seek(0)  # Reset buffer position
        client.put_object(Bucket="lakehouse", Key=f'bronze/{name}.parquet', Body=parquet_buffer.getvalue())
        logging.info(f"Data saved to bronze/{name}.parquet successfully.")
    except Exception as e:
        logging.error(f"Error saving data to MinIO: {str(e)}")
        raise e

In [ ]:
df = get_data_from_raw('ratings')
save_data_to_bronze(df, 'ratings')

In [3]:
df = spark.read.format("csv").load("s3a://lakehouse/raw/ratings.csv")

In [4]:
df.write.format("parquet").save("s3a://lakehouse/bronze/ratings.parquet")

# DIM MOVIE
### ["movie_id", "title", "original_title", "language", "overview","runtime", "tagline", "status", "homepage"]

In [20]:
df_silver_movies = spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")

In [21]:
df_silver_movies.printSchema()

root
 |-- adult: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: double (nullable = true)
 |-- runtime: double (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: boolean (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: double (nullable = true)

In [4]:
df_silver_movies = df_silver_movies.dropna(subset=["title", "release_date", "budget"])
df_silver_movies = df_silver_movies.dropDuplicates()

NameError: name 'df_silver_movies' is not defined

In [21]:
df_silver_movies = df_silver_movies.withColumn("id", col("id").cast(LongType()))

df_dim_movie = df_silver_movies.select(
    "id",  
    "title", "original_title", col("spoken_languages").alias("language"), "overview", 
    "runtime", "tagline", "status", "homepage"
)
df_dim_movie.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_movie")

# DIM KEYWORD

In [14]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/keywords.parquet")
df = df.filter((col("keywords").isNotNull()) & (col("keywords") != "[]"))
df.filter(col("id") == 13685).show(truncate=False)

+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id   |keywords                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|13685|[{'id': 380, 'name': 'brother brother relationship'}, {'id': 642, 'name': 'robbery'}, {'id': 1437, 'name': 'burglar'}, {'id': 2568, 'name': 'language barrier'}, {'id': 2669, 'name': 'motel'}, {'id': 10183, 'name': 'independent film'}, {'id': 10323, 'name': 'psychiatric hospital'}, {'id': 13097, 'name': 'maid'}, {'id': 14604, 'name': 'theft'}, {'id': 15274, 'name': 'nervous breakdown'}, {'id': 187710, 'name': 'escapade'}, {'id': 187717, 'name': 'laundry room'}]|
+-----+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [3]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/keywords.parquet")
keyword_schema = ArrayType(
    StructType([
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True)
    ])
)
df_parsed = df.withColumn("keywords", from_json(col("keywords"), keyword_schema))

# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("keywords", explode(col("keywords")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("keywords.name"),
    col("keywords.id")
)
df_selected.dropDuplicates(["id"])
# Hiển thị kết quả
df_selected.show(truncate=False)

+------------------------+------+
|name                    |id    |
+------------------------+------+
|jealousy                |931   |
|toy                     |4290  |
|boy                     |5202  |
|friendship              |6054  |
|friends                 |9713  |
|rivalry                 |9823  |
|boy next door           |165503|
|new toy                 |170722|
|toy comes to life       |187065|
|board game              |10090 |
|disappearance           |10941 |
|based on children's book|15101 |
|new home                |33467 |
|recluse                 |158086|
|giant insect            |158091|
|fishing                 |1495  |
|best friend             |12392 |
|duringcreditsstinger    |179431|
|old men                 |208510|
|based on novel          |818   |
+------------------------+------+
only showing top 20 rows

In [4]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_keyword")

# DIM CAST
### cast_id, name, gender, profile_path

In [4]:
df_dim_cast = spark.read.format("parquet").load("s3a://lakehouse/bronze/credits.parquet")
df_dim_cast.printSchema()

root
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- id: long (nullable = true)

In [6]:
cast_schema = ArrayType(
    StructType([
        StructField("cast_id", IntegerType(), True),
        StructField("character", StringType(), True),
        StructField("credit_id", StringType(), True),
        StructField("gender", IntegerType(), True),
        StructField("id", LongType(), True),
        StructField("name", StringType(), True),
        StructField("order", IntegerType(), True),
        StructField("profile_path", StringType(), True)
    ])
)
df_parsed = df_dim_cast.withColumn("cast", from_json(col("cast"), cast_schema))

# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("cast", explode(col("cast")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("cast.name"),
    col("cast.gender"),
    col("cast.profile_path"),
    col("cast.credit_id"),
    col("cast.id")
)

# Hiển thị kết quả
df_selected.show(truncate=False)

+------------------+------+--------------------------------+------------------------+-------+
|name              |gender|profile_path                    |credit_id               |id     |
+------------------+------+--------------------------------+------------------------+-------+
|Walter Matthau    |2     |/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg|52fe466a9251416c75077a8d|6837   |
|Jack Lemmon       |2     |/chZmNRYMtqkiDlatprGDH4BzGqG.jpg|52fe466a9251416c75077a91|3151   |
|Ann-Margret       |1     |/jx5lTaJ5VXZHYB52gaOTAZ9STZk.jpg|52fe466a9251416c75077a95|13567  |
|Sophia Loren      |1     |/emKLhbji1c7BjcA2DdbWf0EP9zH.jpg|52fe466a9251416c75077a99|16757  |
|Daryl Hannah      |1     |/4LLmp6AQdlj6ueGCRbVRSGvvFSt.jpg|52fe466a9251416c75077a9d|589    |
|Burgess Meredith  |2     |/lm98oKloU33Q7QDIIMSyc4Pr2jA.jpg|53e5fcc2c3a3684430000d65|16523  |
|Kevin Pollak      |2     |/kwu2T8CDnThZTzE88uiSgJ5eHXf.jpg|53e5fcd4c3a3684433000e1a|7166   |
|Whitney Houston   |1     |/69ouDnXnmklYPr4sMJXWKYz81AL.jpg|52fe44779251416c91011aad|8851   |
|Angela Bassett    |1     |/tHkgSzhEuJKp5hqp0DZLad8HNZ9.jpg|52fe44779251416c91011ab1|9780   |
|Loretta Devine    |1     |/zLQFwQTFtHkb8sbFdkPNamFI7jv.jpg|52fe44779251416c91011ab5|18284  |
|Lela Rochon       |1     |/9DBu3r5O4fBosSS4FnSzFCVpm0O.jpg|52fe44779251416c91011ab9|51359  |
|Gregory Hines     |2     |/rvvQWFQGeGR14WFVNe0Qg1J7uVY.jpg|52fe44779251416c91011abd|66804  |
|Dennis Haysbert   |2     |/mn5Nc5Q31GslpVVWs8p41W4TBma.jpg|52fe44779251416c91011ac1|352    |
|Michael Beach     |2     |/lOlWhURNKyZHn71dvq7qC7fiwN6.jpg|52fe44779251416c91011ac5|87118  |
|Mykelti Williamson|2     |/8TTxzpuvvpw2tB8xZBCDslYupNU.jpg|52fe44779251416c91011acf|34     |
|Lamont Johnson    |2     |/wfZzRPJBdsx62GbkUimc1PShxyC.jpg|56d1b15fc3a3681e4a008b6b|1276777|
|Wesley Snipes     |2     |/hQ6EBa6vgu7HoZpzms8Y10VL5Iw.jpg|56f8a929c3a36816e80084f3|10814  |
|Steve Martin      |2     |/rI2EMvkfKKPKa5z0nM2pFVBtUyO.jpg|52fe44959251416c75039eb9|67773  |
|Diane Keaton      |1     |/fzgUMnbOkxC6E3EFcYHWHFaiKyp.jpg|52fe44959251416c75039ebd|3092   |
|Martin Short      |2     |/oZQorXBjTxrdkTJFpoDwOcQ91ji.jpg|52fe44959251416c75039ec1|519    |
+------------------+------+--------------------------------+------------------------+-------+
only showing top 20 rows

In [7]:
df_dim_cast  = df_selected.dropDuplicates(["id"]).filter(col("id").isNotNull())

In [8]:
df_dim_cast.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_cast")

# DIM CREW
### id, name,  department, job, gender, credit_ID

In [15]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/credits.parquet") 
df_filtered = df.filter((col("cast") != "[]") & (col("crew") != "[]"))
df_filtered.show()

+--------------------+--------------------+-----+
|                cast|                crew|   id|
+--------------------+--------------------+-----+
|[{'cast_id': 14, ...|[{'credit_id': '5...|  862|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 8844|
|[{'cast_id': 2, '...|[{'credit_id': '5...|15602|
|[{'cast_id': 1, '...|[{'credit_id': '5...|31357|
|[{'cast_id': 1, '...|[{'credit_id': '5...|11862|
|[{'cast_id': 25, ...|[{'credit_id': '5...|  949|
|[{'cast_id': 1, '...|[{'credit_id': '5...|11860|
|[{'cast_id': 2, '...|[{'credit_id': '5...|45325|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 9091|
|[{'cast_id': 1, '...|[{'credit_id': '5...|  710|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 9087|
|[{'cast_id': 9, '...|[{'credit_id': '5...|12110|
|[{'cast_id': 1, '...|[{'credit_id': '5...|21032|
|[{'cast_id': 1, '...|[{'credit_id': '5...|10858|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 1408|
|[{'cast_id': 4, '...|[{'credit_id': '5...|  524|
|[{'cast_id': 6, '...|[{'credit_id': '5...| 4584|
|[{'cast_id': 42, ...|[{'credit_id': '5...|    5|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 9273|
|[{'cast_id': 1, '...|[{'credit_id': '5...|11517|
+--------------------+--------------------+-----+
only showing top 20 rows

In [19]:
df.filter(col("id") == 42981).show(truncate=False)

+----+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|cast|crew                                                                                                                                                                 |id   |
+----+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|[]  |[{'credit_id': '52fe4624c3a36847f80ef0a5', 'department': 'Directing', 'gender': 2, 'id': 129216, 'job': 'Director', 'name': 'Theodore Thomas', 'profile_path': None}]|42981|
+----+---------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+

In [15]:
df_dim_crew = spark.read.format("parquet").load("s3a://lakehouse/bronze/credits.parquet")

In [16]:
crew_schema = ArrayType(
    StructType([
        StructField("credit_id", StringType(), True),
        StructField("department", StringType(), True),
        StructField("gender", IntegerType(), True),
        StructField("id", LongType(), True),
        StructField("job", StringType(), True),
        StructField("name", StringType(), True),
        StructField("profile_path", StringType(), True)
    ])
)
df_parsed = df_dim_crew.withColumn("crew", from_json(col("crew"), crew_schema))
# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("crew", explode(col("crew")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("crew.name"),
    col("crew.gender"),
    col("crew.profile_path"),
    col("crew.credit_id"),
    col("crew.id"),
    col("crew.job"),
    col("crew.department")
)
df_selected = df_selected.dropDuplicates(["id"]).filter(col("id").isNotNull())
# Hiển thị kết quả
df_selected.show(truncate=False)

+--------------------+------+--------------------------------+------------------------+---+-----------------------+----------+
|name                |gender|profile_path                    |credit_id               |id |job                    |department|
+--------------------+------+--------------------------------+------------------------+---+-----------------------+----------+
|Mark Hamill         |2     |/ws544EgE5POxGJqq9LUfhnDrHtV.jpg|52fe44dcc3a368484e03b025|2  |Director               |Directing |
|Carrie Fisher       |1     |/pbleNurCYdrLFQMEnlQB2nkOR1O.jpg|52fe4440c3a368484e01852d|4  |Novel                  |Writing   |
|Albert Brooks       |2     |/kahlMTdygrPJ28VYRhKPavYD9hs.jpg|52fe44e1c3a368484e03c4dd|13 |Director               |Directing |
|Ellen DeGeneres     |1     |/4LG2bFkqOzxzR1kpnoDcwIVuQTG.jpg|52fe44fdc3a368484e0426ed|14 |Writer                 |Writing   |
|Barry Humphries     |2     |/ccJHmzU8wzOe4sAmeVeScu5mygl.jpg|52fe4480c3a368484e026db9|22 |Writer                 |Writing   |
|Robert Zemeckis     |2     |/isCuZ9PWIOyXzdf3ihodXzjIumL.jpg|52fe48cdc3a36847f817a4b5|24 |Director               |Directing |
|Eric Roth           |2     |/e73ADDpR3vT1Bwa0Q0oRp5RQWTb.jpg|52fe4a82c3a36847f81d2107|27 |Writer                 |Writing   |
|Tom Hanks           |2     |/pQFoyx7rp09CJTAb932F2g8Nlho.jpg|55e4f0abc3a368140800047e|31 |Producer               |Production|
|Orson Welles        |2     |/2DF3e98c7GGa1uJJvpgIiMPg0h2.jpg|52fe4672c3a36847f80ff931|40 |Director               |Directing |
|Lars von Trier      |2     |/AlfUoJTJlns0XeJROH7Zqt9SvYr.jpg|52fe45839251416c91034ed7|42 |Director               |Directing |
|John Fawcett        |2     |/ArR5IXmo5yqjH4I6kcO9W5u9rDC.jpg|54177f100e0a2637ef0002e0|43 |Director               |Directing |
|Luc Besson          |2     |/dXJdczT1NcvcZtnoWVGT0NmG11v.jpg|52fe47c49251416c750a4b0d|59 |Director               |Directing |
|Chris Tucker        |2     |/9RQvgEi1GnPK4QzqOGHL3jP3VZr.jpg|559e873f9251412dbe001721|66 |Writer                 |Writing   |
|Erich Pommer        |2     |/oClAs4W1TRc2jtYCU4CdtXlEhPZ.jpg|52fe48e99251416c750b73d1|67 |Producer               |Production|
|Fritz Lang          |2     |/fQAlhdBDnUYXzkezvyzjLB72pvw.jpg|52fe48e99251416c750b73c5|68 |Director               |Directing |
|Karl Freund         |2     |/rp4KICz1DHmkYRlzkrqKWwWZm9U.jpg|56d683f6c3a3682cef007d34|70 |Director of Photography|Camera    |
|Bruce Brown         |2     |/t2yDx3OLqFNzCjIOWIjEHbzrRcb.jpg|52fe448dc3a368484e029383|86 |Director               |Directing |
|Roger Deakins       |2     |/osGe7eLKNIErFLn1RHJDeYTYOmb.jpg|52fe44a49251416c7503be3f|151|Director of Photography|Camera    |
|Sally Menke         |1     |/8cUdiGU7KhBgd8UNnoUYNCMZYgQ.jpg|584ef939c3a3682a8a00139e|156|Editor                 |Editing   |
|Michael Winterbottom|2     |/hnzUhUXiWy7ThflTzPTRb869mnB.jpg|52fe4796c3a36847f813dc97|172|Director               |Directing |
+--------------------+------+--------------------------------+------------------------+---+-----------------------+----------+
only showing top 20 rows

In [17]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_crew")

# DIM DATE

In [6]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")
df = df.dropna(subset=["title", "release_date", "budget"])
df = df.dropDuplicates()
df = df.withColumn("parsed_date", F.to_date(F.col("release_date"), "yyyy-MM-dd"))

result = df.select(
    F.col("release_date"),
    F.dayofweek("parsed_date").alias("DayOfWeek"),
    F.date_format("parsed_date", "EEEE").alias("DayName"),
    F.dayofmonth("parsed_date").alias("DayOfMonth"),
    F.dayofyear("parsed_date").alias("DayOfYear"),
    F.weekofyear("parsed_date").alias("WeekOfYear"),
    F.date_format("parsed_date", "MMMM").alias("MonthName"),
    F.month("parsed_date").alias("MonthOfYear"),
    F.quarter("parsed_date").alias("Quarter"),
    F.year("parsed_date").alias("Year"),
    F.when((F.dayofweek("parsed_date") >= 2) & (F.dayofweek("parsed_date") <= 6), True).otherwise(False).alias("IsWeekDay")
)
result = result.withColumn(
    "DATE_ID",
    (F.col("Year") * 10000 + F.col("MonthOfYear") * 100 + F.col("DayOfMonth")).cast("long")
)

result.show()

+------------+---------+---------+----------+---------+----------+---------+-----------+-------+----+---------+--------+
|release_date|DayOfWeek|  DayName|DayOfMonth|DayOfYear|WeekOfYear|MonthName|MonthOfYear|Quarter|Year|IsWeekDay| DATE_ID|
+------------+---------+---------+----------+---------+----------+---------+-----------+-------+----+---------+--------+
|  1996-10-25|        6|   Friday|        25|      299|        43|  October|         10|      4|1996|     true|19961025|
|  1988-08-28|        1|   Sunday|        28|      241|        34|   August|          8|      3|1988|    false|19880828|
|  1988-05-11|        4|Wednesday|        11|      132|        19|      May|          5|      2|1988|     true|19880511|
|  1984-02-16|        5| Thursday|        16|       47|         7| February|          2|      1|1984|     true|19840216|
|  1986-05-01|        5| Thursday|         1|      121|        18|      May|          5|      2|1986|     true|19860501|
|  1995-01-01|        1|   Sunday|         1|        1|        52|  January|          1|      1|1995|    false|19950101|
|  1975-09-02|        3|  Tuesday|         2|      245|        36|September|          9|      3|1975|     true|19750902|
|  1985-09-25|        4|Wednesday|        25|      268|        39|September|          9|      3|1985|     true|19850925|
|  1989-11-17|        6|   Friday|        17|      321|        46| November|         11|      4|1989|     true|19891117|
|  1992-08-28|        6|   Friday|        28|      241|        35|   August|          8|      3|1992|     true|19920828|
|  1959-09-29|        3|  Tuesday|        29|      272|        40|September|          9|      3|1959|     true|19590929|
|  1999-10-15|        6|   Friday|        15|      288|        41|  October|         10|      4|1999|     true|19991015|
|  1985-01-25|        6|   Friday|        25|       25|         4|  January|          1|      1|1985|     true|19850125|
|  1992-06-04|        5| Thursday|         4|      156|        23|     June|          6|      2|1992|     true|19920604|
|  1947-09-25|        5| Thursday|        25|      268|        39|September|          9|      3|1947|     true|19470925|
|  1991-06-20|        5| Thursday|        20|      171|        25|     June|          6|      2|1991|     true|19910620|
|  1979-08-03|        6|   Friday|         3|      215|        31|   August|          8|      3|1979|     true|19790803|
|  1958-12-25|        5| Thursday|        25|      359|        52| December|         12|      4|1958|     true|19581225|
|  2000-06-15|        5| Thursday|        15|      167|        24|     June|          6|      2|2000|     true|20000615|
|  1986-04-18|        6|   Friday|        18|      108|        16|    April|          4|      2|1986|     true|19860418|
+------------+---------+---------+----------+---------+----------+---------+-----------+-------+----+---------+--------+
only showing top 20 rows

In [8]:
result.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_date")

# DIM GENRES
### genre_id, name

In [8]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")

In [13]:
genres_schema = ArrayType(
    StructType([
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True)
    ])
)
df_parsed = df.withColumn("genres", from_json(col("genres"), genres_schema))
df_exploded = df_parsed.withColumn("genres", explode(col("genres")))

df_selected = df_exploded.select(
    col("genres.id"),
    col("genres.name")
)
df_selected = df_selected.dropDuplicates(subset=["id"])

AnalysisException: Cannot resolve column name "id" among (CAST(genres.id AS INT), name)

In [13]:
df_selected.show()

+-----+--------------------+
|   id|                name|
+-----+--------------------+
|   12|           Adventure|
|   14|             Fantasy|
|   16|           Animation|
|   18|               Drama|
|   27|              Horror|
|   28|              Action|
|   35|              Comedy|
|   36|             History|
|   37|             Western|
|   53|            Thriller|
|   80|               Crime|
|   99|         Documentary|
|  878|     Science Fiction|
| 2883|             Aniplex|
| 7759|             GoHands|
| 7760|           BROSTA TV|
| 7761|Mardock Scramble ...|
| 9648|             Mystery|
|10402|               Music|
|10749|             Romance|
+-----+--------------------+
only showing top 20 rows

In [14]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/dim_genres")

# complete DIM

In [9]:
df_dimmovie = spark.read.format("delta").load("s3a://lakehouse/silver_T/dim_movie")
df_dimmovie.printSchema()

root
 |-- id: long (nullable = true)
 |-- title: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- language: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- runtime: double (nullable = true)
 |-- tagline: string (nullable = true)
 |-- status: string (nullable = true)
 |-- homepage: string (nullable = true)

In [10]:
df_cast = spark.read.format("delta").load("s3a://lakehouse/silver_T/dim_cast")
df_cast.printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- profile_path: string (nullable = true)
 |-- credit_id: string (nullable = true)
 |-- id: long (nullable = true)

In [11]:
df_crew = spark.read.format("delta").load("s3a://lakehouse/silver_T/dim_crew")
df_crew.printSchema()

root
 |-- name: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- profile_path: string (nullable = true)
 |-- credit_id: string (nullable = true)
 |-- id: long (nullable = true)
 |-- job: string (nullable = true)
 |-- department: string (nullable = true)

In [12]:
df_genres = spark.read.format("delta").load("s3a://lakehouse/silver_T/dim_genres")
df_genres.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [13]:
df_date = spark.read.format("delta").load("s3a://lakehouse/silver_T/dim_date")
df_date.printSchema()

root
 |-- release_date: string (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DayName: string (nullable = true)
 |-- DayOfMonth: integer (nullable = true)
 |-- DayOfYear: integer (nullable = true)
 |-- WeekOfYear: integer (nullable = true)
 |-- MonthName: string (nullable = true)
 |-- MonthOfYear: integer (nullable = true)
 |-- Quarter: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- IsWeekDay: boolean (nullable = true)
 |-- DATE_ID: long (nullable = true)

# Cast_Movie

In [18]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/credits.parquet")
cast_schema = ArrayType(
    StructType([
        StructField("cast_id", IntegerType(), True),
        StructField("character", StringType(), True),
        StructField("credit_id", StringType(), True),
        StructField("gender", IntegerType(), True),
        StructField("id", LongType(), True),
        StructField("name", StringType(), True),
        StructField("order", IntegerType(), True),
        StructField("profile_path", StringType(), True)
    ])
)
df_parsed = df.withColumn("cast", from_json(col("cast"), cast_schema))

# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("cast", explode(col("cast")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("cast.id").alias("cast_id"),
    col("cast.character"),
    col("id").alias("movie_id")
)

# Hiển thị kết quả
df_selected.show(truncate=False)

+-------+----------------------------+--------+
|cast_id|character                   |movie_id|
+-------+----------------------------+--------+
|6837   |Max Goldman                 |15602   |
|3151   |John Gustafson              |15602   |
|13567  |Ariel Gustafson             |15602   |
|16757  |Maria Sophia Coletta Ragetti|15602   |
|589    |Melanie Gustafson           |15602   |
|16523  |Grandpa Gustafson           |15602   |
|7166   |Jacob Goldman               |15602   |
|8851   |Savannah 'Vannah' Jackson   |31357   |
|9780   |Bernadine 'Bernie' Harris   |31357   |
|18284  |Gloria 'Glo' Matthews       |31357   |
|51359  |Robin Stokes                |31357   |
|66804  |Marvin King                 |31357   |
|352    |Kenneth Dawkins             |31357   |
|87118  |John Harris, Sr.            |31357   |
|34     |Troy                        |31357   |
|1276777|Joseph                      |31357   |
|10814  |James Wheeler               |31357   |
|67773  |George Banks                |11862   |
|3092   |Nina Banks                  |11862   |
|519    |Franck Eggelhoffer          |11862   |
+-------+----------------------------+--------+
only showing top 20 rows

In [19]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/movie_cast")

# movie_crew

In [20]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/credits.parquet")
df.printSchema()
crew_schema = ArrayType(
    StructType([
        StructField("department", StringType(), True),
        StructField("gender", IntegerType(), True),
        StructField("id", LongType(), True),
        StructField("job", StringType(), True),
        StructField("name", StringType(), True),
        StructField("profile_path", StringType(), True)
    ])
)
df_parsed = df.withColumn("crew", from_json(col("crew"), crew_schema))
# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("crew", explode(col("crew")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("crew.id").alias("crew_id"),
    col("crew.job"),
    col("crew.department"),
    col("id").alias("movie_id")
)

df_selected.show(truncate=False)

root
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- id: long (nullable = true)

+-------+------------+----------+--------+
|crew_id|job         |department|movie_id|
+-------+------------+----------+--------+
|6210   |Writer      |Writing   |16420   |
|56710  |Director    |Directing |16420   |
|56710  |Adaptation  |Writing   |16420   |
|33315  |Director    |Directing |31174   |
|6210   |Theatre Play|Writing   |31174   |
|1327   |Writer      |Writing   |31174   |
|33315  |Writer      |Writing   |31174   |
|16862  |Director    |Directing |48750   |
|37127  |Writer      |Writing   |48750   |
|16862  |Writer      |Writing   |48750   |
|119294 |Writer      |Writing   |46785   |
|120229 |Director    |Directing |46785   |
|117075 |Director    |Directing |188588  |
|14692  |Director    |Directing |47475   |
|114997 |Director    |Directing |55475   |
|114997 |Writer      |Writing   |55475   |
|5281   |Director    |Directing |20649   |
|5281   |Screenplay  |Writing   |20649   |
|2989   |Screenplay  |Writing   |20649   |
|2163   |Screenplay  |Writing   |52856   |
+-------+------------+----------+--------+
only showing top 20 rows

In [21]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/movie_crew")

# movie genres

In [14]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")
genres_schema = ArrayType(
    StructType([
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True)
    ])
)
df_parsed = df.withColumn("genres", from_json(col("genres"), genres_schema))
df_exploded = df_parsed.withColumn("genres", explode(col("genres")))

df_selected = df_exploded.select(
    col("genres.id").alias("genres_id"),
    col("id").cast("Integer")
)

In [15]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/movie_genres")

# Movie Keyword

In [5]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/keywords.parquet")
keyword_schema = ArrayType(
    StructType([
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True)
    ])
)
df_parsed = df.withColumn("keywords", from_json(col("keywords"), keyword_schema))

# Explode cột cast để có nhiều dòng
df_exploded = df_parsed.withColumn("keywords", explode(col("keywords")))

# Chọn các trường cần thiết
df_selected = df_exploded.select(
    col("keywords.name"),
    col("keywords.id").alias("keyword_id"),
    col("id")
                             
)

# Hiển thị kết quả
df_selected.show(truncate=False)

+------------------------+----------+-----+
|name                    |keyword_id|id   |
+------------------------+----------+-----+
|jealousy                |931       |862  |
|toy                     |4290      |862  |
|boy                     |5202      |862  |
|friendship              |6054      |862  |
|friends                 |9713      |862  |
|rivalry                 |9823      |862  |
|boy next door           |165503    |862  |
|new toy                 |170722    |862  |
|toy comes to life       |187065    |862  |
|board game              |10090     |8844 |
|disappearance           |10941     |8844 |
|based on children's book|15101     |8844 |
|new home                |33467     |8844 |
|recluse                 |158086    |8844 |
|giant insect            |158091    |8844 |
|fishing                 |1495      |15602|
|best friend             |12392     |15602|
|duringcreditsstinger    |179431    |15602|
|old men                 |208510    |15602|
|based on novel          |818       |31357|
+------------------------+----------+-----+
only showing top 20 rows

In [6]:
df_selected.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/movie_keyword")

# Fact Movie

In [28]:
df= spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")
df = df.withColumn("popularity", col("popularity").cast("double"))
df.printSchema()

root
 |-- adult: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: double (nullable = true)
 |-- runtime: double (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: boolean (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: double (nullable = true)

In [7]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/movies.parquet")
df_fact = df.withColumn(
    "date_id",
    (F.year("release_date") * 10000 + F.month("release_date") * 100 + F.dayofmonth("release_date")).cast("long")
)

df_fact = df_fact.select(
    col("id").cast("Integer"),
    col("budget"),
    col("popularity"),
    col("revenue"),
    col("vote_average"),
    col("vote_count"),
    col("date_id")
)
df_fact.write.format("delta").mode("overwrite").option("overwriteSchema", "true").save("s3a://lakehouse/silver_T/fact_movies")

In [36]:
df = spark.read.format("delta").load("s3a://lakehouse/silver_T/fact_movies")
df.show()

+-----+--------+----------+------------+------------+----------+--------+
|   id|  budget|popularity|     revenue|vote_average|vote_count| date_id|
+-----+--------+----------+------------+------------+----------+--------+
|  862|30000000| 21.946943|3.73554033E8|         7.7|    5415.0|19951030|
| 8844|65000000| 17.015539|2.62797249E8|         6.9|    2413.0|19951215|
|15602|       0|   11.7129|         0.0|         6.5|      92.0|19951222|
|31357|16000000|  3.859495| 8.1452156E7|         6.1|      34.0|19951222|
|11862|       0|  8.387519| 7.6578911E7|         5.7|     173.0|19950210|
|  949|60000000| 17.924927|1.87436818E8|         7.7|    1886.0|19951215|
|11860|58000000|  6.677277|         0.0|         6.2|     141.0|19951215|
|45325|       0|  2.561161|         0.0|         5.4|      45.0|19951222|
| 9091|35000000|   5.23158| 6.4350171E7|         5.5|     174.0|19951222|
|  710|58000000| 14.686036|3.52194034E8|         6.6|    1194.0|19951116|
| 9087|62000000|  6.318445|1.07879496E8|         6.5|     199.0|19951117|
|12110|       0|  5.430331|         0.0|         5.7|     210.0|19951222|
|21032|       0| 12.140733| 1.1348324E7|         7.1|     423.0|19951222|
|10858|44000000|     5.092| 1.3681765E7|         7.1|      72.0|19951222|
| 1408|98000000|  7.284477| 1.0017322E7|         5.7|     137.0|19951222|
|  524|52000000| 10.137389|1.16112375E8|         7.8|    1343.0|19951122|
| 4584|16500000| 10.673167|      1.35E8|         7.2|     364.0|19951213|
|    5| 4000000|  9.026586|   4300000.0|         6.5|     539.0|19951209|
| 9273|30000000|  8.205448|2.12385533E8|         6.1|    1128.0|19951110|
|11517|60000000|  7.337906| 3.5431113E7|         5.4|     224.0|19951121|
+-----+--------+----------+------------+------------+----------+--------+
only showing top 20 rows

                    dim_genres
                          |
             movie_genre_bridge
                          |
dim_movie -------------- fact_movie_revenue -------------- dim_date
                         /        \
        movie_cast_bridge      movie_crew_bridge
                |                     |
          dim_cast                   dim_crew